<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
  integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
  crossorigin="anonymous" referrerpolicy="no-referrer"/>

<div id="admin-dashboard" class=" oj-sm-margin-4x-bottom">
    <div class="oj-flex oj-sm-justify-content-space-around oj-sm-margin-4x">
        <oj-action-card id="Default" class="oj-sm-margin-2x oj-sm-padding-4x"
            style="border-radius: 10px;box-shadow: 0 0 10px #b9adad;width: 250px">
            <div class="oj-flex oj-sm-justify-content-space-around" style="width: 100%;">
                <div class="oj-flex oj-sm-justify-content-center oj-sm-align-items-center" 
                    style="width: 60px;height:60px;background-color: #f0efff;border-radius: 50%;">
                    <i class="fa-solid fa-clipboard-list fa-2x" style="color: #745ffc;"></i>
                </div>
                <div class="oj-flex oj-sm-flex-direction-column">
                    <span style="font-weight: 600;font-size: 15px;color: #878a99;">
                        <oj-bind-text value="Total Tasks"></oj-bind-text>
                    </span>
                    <span style="font-weight: 600;font-size: 30px;">
                        <oj-bind-text value="0"></oj-bind-text>
                    </span>
                </div>
            </div>
        </oj-action-card>
        <oj-action-card id="Default" class="oj-sm-margin-2x oj-sm-padding-4x"
            style="border-radius: 10px;box-shadow: 0 0 10px #b9adad;width: 250px;">
            <div class="oj-flex oj-sm-justify-content-space-around" style="width: 100%;">
                <div class="oj-sm-4 oj-md-4">
                    <div class="oj-flex oj-sm-justify-content-center oj-sm-align-items-center" 
                        style="width: 60px;height:60px;background-color: #f0efff;border-radius: 50%;">
                        <i class="fa-solid fa-spinner fa-2x" style="color: #745ffc;"></i>
                    </div>
                </div>
                <div class="oj-sm-7 oj-md-7 oj-flex oj-sm-flex-direction-column">
                    <span style="font-weight: 600;font-size: 15px;color: #878a99;">
                        <oj-bind-text value="Task in progress"></oj-bind-text>
                    </span>
                    <span style="font-weight: 600;font-size: 30px;">
                        <oj-bind-text value="0"></oj-bind-text>
                    </span>
                </div>
            </div>
        </oj-action-card>
        <oj-action-card id="Default" class="oj-sm-margin-2x oj-sm-padding-4x"
            style="border-radius: 10px;box-shadow: 0 0 10px #b9adad;width: 250px;">
            <div class="oj-flex oj-sm-justify-content-space-around" style="width: 100%;">
                <div class="oj-sm-4 oj-md-4">
                    <div class="oj-flex oj-sm-justify-content-center oj-sm-align-items-center" 
                        style="width: 60px;height:60px;background-color: #f0efff;border-radius: 50%;">
                        <i class="fa-solid fa-list-check fa-2x" style="color: #745ffc;"></i>
                    </div>
                </div>
                <div class="oj-sm-7 oj-md-7 oj-flex oj-sm-flex-direction-column">
                    <span style="font-weight: 600;font-size: 15px;color: #878a99;">
                        <oj-bind-text value="Tasks completed"></oj-bind-text>
                    </span>
                    <span style="font-weight: 600;font-size: 30px;">
                        <oj-bind-text value="0"></oj-bind-text>
                    </span>
                </div>
            </div>
        </oj-action-card>
        <oj-action-card id="Default" class="oj-sm-margin-2x oj-sm-padding-4x"
            style="border-radius: 10px;box-shadow: 0 0 10px #b9adad;width: 250px;">
            <div class="oj-flex oj-sm-justify-content-space-around" style="width: 100%;">
                <div class="oj-sm-4 oj-md-4">
                    <div class="oj-flex oj-sm-justify-content-center oj-sm-align-items-center" 
                        style="width: 60px;height:60px;background-color: #f0efff;border-radius: 50%;">
                        <i class="fa-solid fa-clock-rotate-left fa-2x" style="color: #745ffc;"></i>
                    </div>
                </div>
                <div class="oj-sm-7 oj-md-7 oj-flex oj-sm-flex-direction-column">
                    <span style="font-weight: 600;font-size: 15px;color: #878a99;">
                        <oj-bind-text value="Task pending"></oj-bind-text>
                    </span>
                    <span style="font-weight: 600;font-size: 30px;">
                        <oj-bind-text value="0"></oj-bind-text>
                    </span>
                </div>
            </div>
        </oj-action-card>
    </div>

    <div class="oj-sm-margin-4x oj-sm-padding-6x-horizontal" 
        style="background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 50%); color: #fff;box-shadow: 0 0 10px #b9adad;border-radius: 10px;">
        <div class="oj-flex oj-sm-justify-content-space-between oj-sm-align-items-center oj-sm-padding-2x">
            <div class="oj-flex oj-sm-flex-direction-column oj-sm-justify-content-space-around" style="height: 140px;">
                <div><oj-bind-text value="Welcome Back"></oj-bind-text></div>
                <div>
                    <span style="font-weight: 500;font-size: 40px;margin-bottom: 20px;color: #fff;">
                        <oj-bind-text value="[[userName]]"></oj-bind-text>
                    </span>
                </div>
                <div>
                    <oj-bind-text value="[[currentDate]]"></oj-bind-text>
                    <oj-bind-text value="[[liveShowTime]]"></oj-bind-text>
                </div>
            </div>
            <div>
                <img src="../../img/cartoon_img_dashboard.png" alt="dashboard-image" style="width: 150px;">
            </div>
        </div>
    </div>

    <div class="oj-flex oj-sm-justify-content-center">
        <div class="oj-sm-6 oj-md-6 oj-flex oj-sm-flex-direction-column oj-sm-margin-2x oj-sm-padding-6x" 
            style="box-shadow: 0 0 10px #b9adad;border-radius: 10px;">
            <span style="font-weight: 500;font-size: 20px;margin-bottom: 20px;">
                <oj-bind-text value="Mark Attendance"></oj-bind-text>
            </span>
            <p>Office time : 9.00AM to 6:30PM</p>
            <div>
                <oj-button id="clockIn" disabled="[[clockInBtnDisabled]]" chroming="borderless" on-oj-action="[[clockInAction]]" 
                    style="background-color: #6c5ffc;color: #fff;border-radius: 10px;">
                    <span id="buttonText" style="color: #fff;">Clock In</span>
                </oj-button>
                <oj-button id="clockOut" disabled="[[clockOutBtnDisabled]]" chroming="borderless" on-oj-action="[[clockOutAction]]" 
                    style="background-color: #ff3a29bd;color: #fff;border-radius: 10px;">
                    <span id="buttonText" style="color: #fff;">Clock Out</span>
                </oj-button>
            </div>
            
        </div>
        <div class="oj-sm-5 oj-md-5 oj-flex oj-sm-flex-direction-column oj-sm-margin-2x oj-sm-padding-6x" 
            style="box-shadow: 0 0 10px #b9adad;border-radius: 10px;">
            <span style="font-weight: 500;font-size: 20px;">
                <oj-bind-text value="Attendance & Leaves"></oj-bind-text>
            </span>
            <div class="oj-flex oj-sm-margin-2x-top">
                <div class="oj-sm-4 oj-md-4">
                    <span style="color: #6c5ffc;font-size: 30px;font-weight: bold;">
                        <oj-bind-text value="[[totalLeaves]]"></oj-bind-text>
                    </span>
                    <p style="color: #878ca3;">Total Leaves</p>
                </div>
                <div class="oj-sm-4 oj-md-4">
                    <span style="color: #1abca9;font-size: 30px;font-weight: bold;">
                        <oj-bind-text value="[[leavesTaken]]"></oj-bind-text>
                    </span>
                    <p style="color: #878ca3;">Leaves Taken</p>
                </div>
                <div class="oj-sm-4 oj-md-4">
                    <span style="color: #34b53a;font-size: 30px;font-weight: bold;">
                        <oj-bind-text value="[[leavesRemaining]]"></oj-bind-text>
                    </span>
                    <p style="color: #878ca3;">Leaves Remaining</p>
                </div>
            </div>
            <div>
                <oj-button id="button1" chroming="borderless" on-oj-action="[[applyLeave]]"
                    style="background-color: #6c5ffc;color: #fff;border-radius: 10px;">
                    <span id="buttonText" style="color: #fff;">Apply Leave</span>
                </oj-button>
            </div>
        </div>
    </div>
</div>

<div class="oj-flex oj-sm-margin-2x oj-sm-justify-content-center">
    <div class="oj-sm-4 oj-md-4 oj-sm-margin-2x" style="border-radius: 10px;box-shadow: 0 0 10px #b9adad;">
        <span class="oj-flex oj-sm-justify-content-center" 
            style="font-weight: 500;font-size: 20px;margin: 10px 0px;">
            <oj-bind-text value="This Month Holidays"></oj-bind-text>
        </span>
        <oj-list-view id="listviewfour" aria-label="Employee information with action"
            data="[[holidayListDataProvider]]" class="demo-list-view" 
            gridlines.item="visible"  style="height: 290px;background-color: #587dff;
            color: #fff;">
            <template slot="itemTemplate" data-oj-as="item">
                <li>
                    <oj-list-item-layout :aria-label="[['Details for ' +item.data.name]]">
                        <div :aria-label="[['Name ' +item.data.name]]" class="oj-typography-body-md oj-typography-bold">
                            <oj-bind-text value="[[item.item.data.holiday_name]]"></oj-bind-text>
                        </div>
                        <div slot="action">
                            <oj-toolbar :id="[['myToolbar1' + item.data.id]]" aria-label="Toolbar"
                                aria-controls="controlled" chroming="borderless">
                                <div :aria-label="[['Name ' +item.item.data.date]]"
                                    class="oj-typography-body-md oj-typography-bold">
                                    <oj-bind-text value="[[item.item.data.holiday_day]]"></oj-bind-text>/
                                    <oj-bind-text value="[[item.item.data.holiday_date]]"></oj-bind-text>
                                </div>
                            </oj-toolbar>
                        </div>
                    </oj-list-item-layout>
                </li>
            </template>
        </oj-list-view>
    </div>
    <div class="oj-sm-7 oj-md-7 oj-sm-margin-2x oj-sm-padding-2x" style="border-radius: 10px;box-shadow: 0 0 10px #b9adad;">
        <span class="oj-flex oj-sm-justify-content-center" 
            style="font-weight: 500;font-size: 20px;margin: 10px 0px;">
            <oj-bind-text value="Absent Today/Tommorrow"></oj-bind-text>
        </span>
        <oj-table id="table" aria-label="Departments Table" accessibility.row-header="depName" data="[[absentEmployeeListDataProvider]]"
            dnd='{"reorder": {"columns": "enabled"}}' scroll-policy="loadMoreOnScroll" 
            scroll-policy-options='{"fetchSize": 10}'columns-default.sortable="disabled" 
            columns='[{"headerClassName" : "table-header-style","headerText": "Id", "id": "employeeId"},
                    {"headerClassName" : "table-header-style","headerText": "Name", "id": "name"},
                    {"headerClassName" : "table-header-style","headerText": "Department", "id": "department"},
                    {"headerClassName" : "table-header-style","headerText": "Day", "id": "day"}]'
            class="demo-table-container" style="height: 290px;width: 100%;">
            <template slot="rowTemplate" data-oj-as="row">
                <tr>
                    <td><oj-bind-text value="[[row.data.id]]"></oj-bind-text></td>
                    <td><oj-bind-text value="[[row.data.name]]"></oj-bind-text></td>
                    <td><oj-bind-text value="[[row.data.department]]"></oj-bind-text></td>
                    <td><oj-bind-text value="[[row.data.day]]"></oj-bind-text></td>
                </tr>
            </template>
        </oj-table>
    </div>
</div>

<oj-popup id="clockOutPopup" class="demo-popup" auto-dismiss="none" modality="modal"
    position.my.horizontal="center" position.my.vertical="center" position.at.horizontal="center"
    position.at.vertical="center" position.of="window" tail="none" style="border-radius: 10px;width: 300px;">
    <div class="demo-popup-body oj-sm-padding-2x">
        <!-- <div class="demo-popup-header">
            <h5 id="popupTitle">Modal Popup</h5>
        </div> -->
        <div class="demo-popup-content">
            <div class="oj-flex oj-sm-justify-content-center oj-sm-margin-4x">
                <p style="font-weight: 500;font-size: 20px;color: #a11306;">Are you want clockout!</p>
            </div>
            <div class="oj-flex oj-sm-justify-content-space-around">
                <oj-button chroming="borderless" id="borderlessPushIcon" display="icons" 
                    on-oj-action="[[cancelClockOut]]" style="background-color: #ff3a29;color: #fff;border-radius: 10px;">
                    <span style="color: #fff;">Cancel</span>
                </oj-button>
                <oj-button chroming="borderless" id="borderlessPushIcon" display="icons" 
                    on-oj-action="[[confirmClockOut]]" style="background-color: #34b53a;color: #fff;border-radius: 10px;">
                    <span style="color: #fff;">Clock Out</span>
                </oj-button>
            </div>
        </div>
    </div>
</oj-popup>