<link rel="stylesheet" href="../../css/purchase.css">

<div class="oj-flex-item oj-sm-padding-2x-horizontal  oj-sm-margin-4x">
    <div class="oj-flex oj-sm-flex-items-initial oj-md-justify-content-space-between">
        <oj-button chroming="solid"  on-oj-action="[[addPurchase]]" class="oj-sm-padding-3x-vertical">
            <i class="fa-solid fa-plus"></i>&nbsp;Add Purchase
          </oj-button>
        <div class="oj-flex-item oj-md-padding-2x-horizontal oj-sm-padding-2x-vertical">
            <oj-input-text id="filter" label-hint="Search" label-edge="inside"
            placeholder="Search.." on-raw-value-changed="[[handleValueTask]]" value="{{filter}}" clear-icon="always">
            </oj-input-text>
        </div>
      </div> 

      <oj-dialog id="openAddPurchase" class="popupPurchase" dialog-title="Add Purchase" modality="modeless" drag-affordance="title-bar"
      cancel-behavior="[[CancelBehaviorOpt]]">
      <oj-validation-group id="formValidation" class="form-container" role="group">
        <div id="form-container">
            <oj-form-layout id="purchase-information" class="form" direction="row" max-columns="1">
                <oj-input-text id="itemName" label-hint="Item Name" required="true" value="{{itemName}}"></oj-input-text>
                <oj-input-text id="purpose" label-hint="Purpose" required="true" value="{{purpose}}"></oj-input-text>
                <oj-input-text id="vendorPONo" label-hint="Vendor PO Number" value="{{vendorPONo}}"></oj-input-text>
                <oj-file-picker  id="vendorFile" class="demo-max-width" primary-text="Vendor PO Attatchment"
                        secondary-text="[[secondaryText]]" on-oj-select="[[uploadVendorPO]]">
                </oj-file-picker>
                <div class="oj-text-color-danger"><oj-bind-text value='[[typeError]]'></oj-bind-text></div>
                <oj-input-text id="estimatedPrice" label-hint="Estimated Price" required="true" value="{{estimatedPrice}}" on-value-changed="[[priceValidate]]"></oj-input-text>
                <div style="color:red;margin-top:-40px">
                  <oj-bind-text value="[[numError]]"></oj-bind-text>
              </div>
            </oj-form-layout>
            <oj-button id="save" chroming="solid" on-oj-action="[[formSubmit]]"><i class="fas fa-save"></i> Submit</oj-button>
        </div>
    </oj-validation-group>
    </oj-dialog>
        

<div style="display:none;" class="oj-panel oj-xl-margin-4x" id="actionView"> 
<div class="oj-flex oj-sm-justify-content-space-around oj-sm-align-items-center">
    <oj-table id='purchaseTable' aria-label='All Table' data='[[PurchaseList]]' display='list'
    selection-mode='{"row": "single"}'  columns='[
    { "headerText": "SL.No", "field": "slno", "id": "slno",
    "headerClassName" : "table-header-style"	 },
    { "headerText": "PO.No", "field": "pono", "id": "pono",
    "headerClassName" : "table-header-style","template": "actionTemplate"	 },
    { "headerText": "Item Name", "field": "item_name", "id": "item_name",
      "headerClassName" : "table-header-style"	 },
    { "headerClassName" : "table-header-style",
      "headerText": "Purpose", "field": "purpose", "id": "purpose" },
    { "headerClassName" : "table-header-style",
      "headerText": "Vendor PO No.", "field": "vendor_po_no", "id": "vendor_po_no" },
    { "headerClassName" : "table-header-style",
    "headerText": "Vendor PO Document", "id": "vendor_po_doc",  "field": "vendor_po_doc","template": "documentTemplate"},
    { "headerClassName" : "table-header-style",
      "headerText": "Estimated Price", "field": "estimated_price", "id": "estimated_price" },
    { "headerClassName" : "table-header-style",
      "headerText": "Owner", "field": "ordered_by", "id": "ordered_by" },
    { "headerClassName" : "table-header-style",
    "headerText": "Created Date", "field": "created_date", "id": "created_date" },
    { "headerClassName" : "table-header-style",
            "headerText": "Status", "field": "status", "id": "status", "template": "bgTemplate"}]' style='width: 100%;' class="demo-table-container">
     <template slot="actionTemplate" data-oj-as="cell">
      <oj-bind-if test="[[cell.row.status != 'Denied' && cell.row.status != 'Approved' ]]">
        <a :id="[[cell.row.pono]]" on-click= "[[editPurchase]]">
          <oj-bind-text value="[[cell.row.pono]]"></oj-bind-text>
      </a>
      </oj-bind-if>
      <oj-bind-if test="[[cell.row.status == 'Approved' ]]">
          <a :id="[[cell.row.pono]]" on-click= "[[goToPOClosure]]">
            <oj-bind-text value="[[cell.row.pono]]"></oj-bind-text>
        </a>
     </oj-bind-if>
     <oj-bind-if test="[[cell.row.status == 'Denied' ]]">
      <oj-bind-text value="[[cell.row.pono]]"></oj-bind-text>
     </template>
     <template slot="bgTemplate" data-oj-as="cell">
      <oj-bind-if test="[[cell.row.status == 'Requested' ]]">
          <div class="oj-table-element-review"><oj-bind-text value="Requested"></oj-bind-text></div>
      </oj-bind-if>
      <oj-bind-if test="[[cell.row.status == 'Approved' ]]">
          <div class="oj-table-element-approve"><oj-bind-text value="Approved"></oj-bind-text></div>
      </oj-bind-if>
      <oj-bind-if test="[[cell.row.status == 'Denied' ]]">
          <div class="oj-table-element-reject"><oj-bind-text value="Denied"></oj-bind-text></div>
      </oj-bind-if>
    </template>
    <template slot="documentTemplate" data-oj-as="cell">
      <oj-bind-if test="[[cell.row.vendor_po_doc]]">
        <a :data-document-link="[[cell.row.vendor_po_doc]]" on-click="[[previewClick]]" target="_blank" style="color:#6a73fa;">
          <i class="fa-solid fa-eye" style="font-size: 20px;"></i>
        </a>
      </oj-bind-if>
        <oj-bind-if test="[[cell.row.vendor_po_doc =='']]">
          <span>N/A</span>
        </oj-bind-if>
    </template>
    </oj-table>
</div>
</div>
</div>

    

     <oj-dialog id="successView">
      <div slot="header" style="display: contents;">
          <p id="dialogTitleId" class="oj-dialog-title">Successfully Ordered</p>
          <oj-button id="btnCancel" class="oj-button-sm" display="icons" on-oj-action="[[messageClose]]">
              <span slot="startIcon" class="oj-ux-ico-close"></span>
              Cancel
          </oj-button>
      </div>
      <div slot="body">
          <div class="demo-popup-content oj-sm-padding-2x oj-flex oj-sm-flex-direction-column oj-sm-justify-content-center">
              <p style="font-weight: 500;text-align: left">Purchase order requested successfully</p>
          </div>
      </div>
  </oj-dialog>

  <oj-popup id="loaderPopup" class="demo-popup" auto-dismiss="none" modality="modal" position.my.horizontal="center"
  position.my.vertical="center" position.at.horizontal="center" position.at.vertical="center" position.of="window" tail="none">
  <div class="demo-popup-body">
      <div class="demo-popup-content oj-sm-padding-2x">
          <oj-progress-circle id="progressCircle" value="-1"></oj-progress-circle>
      </div>
  </div>
</oj-popup>


<oj-dialog id="openEditPurchase" class="popupPurchase" dialog-title="Edit Purchase" modality="modeless" drag-affordance="title-bar"
cancel-behavior="[[CancelBehaviorOpt]]">
<oj-validation-group id="formValidation" class="form-container" role="group">
  <div id="form-container">
      <oj-form-layout id="purchase-information" class="form" direction="row" max-columns="1">
        <oj-bind-if test="[[staffId()  == userId()]]">
          <oj-input-text id="editItemName" label-hint="Item Name" required="true" value="{{editItemName}}"></oj-input-text>
          <oj-input-text id="editPurpose" label-hint="Purpose" required="true" value="{{editPurpose}}"></oj-input-text>
          <oj-input-text id="editVendorPONo" label-hint="Vendor PO Number" value="{{editVendorPONo}}"></oj-input-text>
          <oj-file-picker  id="editVendorFile" class="demo-max-width" primary-text="Vendor PO Attatchment"
                  secondary-text="[[editSecondaryText]]" on-oj-select="[[updateUploadVendorPO]]">
          </oj-file-picker>
          <div class="oj-text-color-danger"><oj-bind-text value='[[editTypeError]]'></oj-bind-text></div>
          <oj-bind-if test="[[editFileCheck()  != '']]">
          <a :data-document-link="[[editFileCheck()]]" on-click="[[previewClick]]" target="_blank" style="color:#6a73fa;">
            <div style="margin-top:-20px">
            <span>Click Here</span>
            </div>
          </a>
          </oj-bind-if>

          <oj-input-text id="editEstimatedPrice" label-hint="Estimated Price" required="true" value="{{editEstimatedPrice}}" on-value-changed="[[priceValidate]]"></oj-input-text>
          <div style="color:red;margin-top:-40px">
            <oj-bind-text value="[[numError]]"></oj-bind-text>
        </div>
        </oj-bind-if>
        <oj-bind-if test="[[staffId()  != userId()]]">
          <oj-input-text id="editItemName" label-hint="Item Name" required="true" value="{{editItemName}}" readonly="true"></oj-input-text>
          <oj-input-text id="editPurpose" label-hint="Purpose" required="true" value="{{editPurpose}}" readonly="true"></oj-input-text>
          <oj-input-text id="editVendorPONo" label-hint="Vendor PO Number" value="{{editVendorPONo}}" readonly="true"></oj-input-text>
          <oj-file-picker  id="editVendorFile" class="demo-max-width" primary-text="Vendor PO Attatchment"
                  secondary-text="[[editSecondaryText]]" on-oj-select="[[updateUploadVendorPO]]" disabled="true">
          </oj-file-picker>
          <div class="oj-text-color-danger"><oj-bind-text value='[[editTypeError]]'></oj-bind-text></div>
          <oj-input-text id="editEstimatedPrice" label-hint="Estimated Price" required="true" value="{{editEstimatedPrice}}" readonly="true"></oj-input-text>
        </oj-bind-if>
          <oj-bind-if test="[[userrole() == 'director' || userrole() == 'senior hr' || userrole() == 'senior manager' || userrole() == 'senior accounts']]">
            <oj-bind-if test="[[staffId() != userId() || userrole() == 'director']]">
            <oj-select-single required id="status" label-hint="Status" label-edge="inside"
            data="[[statusList]]" value="{{editStatus}}" ></oj-select-single>        
          </oj-bind-if>
          </oj-bind-if>
          <oj-bind-if test="[[editStatus() == 'Denied']]">
            <oj-input-text id="deniedNotes" label-hint="Denied Notes" value="{{deniedNotes}}" required="true"></oj-input-text>
          </oj-bind-if>
      </oj-form-layout>
      <oj-button id="save" chroming="solid" on-oj-action="[[updateFormSubmit]]"><i class="fas fa-save"></i> Submit</oj-button>
  </div>
</oj-validation-group>
</oj-dialog>

<oj-dialog id="updateSuccessView">
  <div slot="header" style="display: contents;">
      <p id="dialogTitleId" class="oj-dialog-title">Successfully Updated</p>
      <oj-button id="btnCancel" class="oj-button-sm" display="icons" on-oj-action="[[messageClose]]">
          <span slot="startIcon" class="oj-ux-ico-close"></span>
          Cancel
      </oj-button>
  </div>
  <div slot="body">
      <div class="demo-popup-content oj-sm-padding-2x oj-flex oj-sm-flex-direction-column oj-sm-justify-content-center">
          <p style="font-weight: 500;text-align: left">Purchase order updated successfully</p>
      </div>
  </div>
</oj-dialog>

<div class="centered-container" id="loaderView">
    <div class="loader"></div>
  </div> 