<link rel="stylesheet" href="../../css/addStaff.css">

<style>
    body {
      background-color: #f4f4f9;
      margin: 0;
      padding: 0;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
      border: 1px solid #ddd; /* Outer border for the table */
    }
    th, td {
      border: 1px solid #ddd; /* Inner borders for header and date rows */
      padding: 10px;
      text-align: center;
      font-size: 12px;
    }
    th {
      background-color: #f0f0f0;
      font-weight: bold;
    }
    .hidden {
      display: none; /* Class to hide rows */
    }
    .weekoff {
      background-color: #ffee56; /* Yellow color for week off */
      font-weight: bold;
      text-align: center;
    }
    .shift-row {
      border: none; /* Remove borders from shift rows */
    }
    .btn {
    background-color: #6c5ffc; /* Button color */
    color: #ffffff; /* Text color */
    border: none;
    padding: 8px 15px; /* Adjusted padding for a better button size */
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px; /* Slightly larger font size for readability */
    margin-left: 10px; /* Spacing from date */
    margin-top: 8px; /* Spacing from date */
    width: 130px; /* Increased width for better usability */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transition for hover effects */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.btn:hover {
    background-color: #6c5ffc; /* Darker shade for hover effect */
    transform: translateY(-2px); /* Slight lift effect on hover */
}

.btn:active {
    transform: translateY(0); /* Reset lift on click */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Reduce shadow on active */
}


  </style>
<oj-bind-if test="[[userrole() == 'director' || userrole() == 'senior hr' || userrole() == 'senior manager' || userrole() == 'senior accounts']]">
<oj-bind-if test="[[edit_rota_status() != 'Old' ]]">
<div class="oj-panel oj-xl-margin-4x" style="box-shadow: 0 0 10px #b9adad; border-radius: 10px; padding: 20px;">
  <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
    <div style="flex: 1; max-width: 1200px;"> 
      <oj-validation-group id="formValidation" class="form-container" role="group">
      <oj-form-layout id="rota-information" class="form" direction="row" max-columns="4" style="width: 100%; gap: 20px;">
        <div style="display: flex; flex-direction: column;">
          <oj-input-text id="editRotaName" label-hint="Rota Name" required="true" value="{{edit_rota_name}}" on-value-changed="[[rotaExistCheck]]"></oj-input-text>
          <oj-bind-if test="[[existRota() != '' ]]">
            <div style="color: red; margin-top: -20px;">
              <oj-bind-text value="[[existRota]]"></oj-bind-text>
            </div>
          </oj-bind-if>
        </div>
        <oj-bind-if test="[[edit_rota_status() == 'Draft' ]]">

        <oj-select-single id="editDuration" label-hint="Rota Type" label-edge="inside"
          data="[[durationList]]" value="{{edit_rota_type}}" on-value-changed="[[selectDiv2]]" required></oj-select-single>

       

          <oj-bind-if test="[[divCheck() == 'month' ]]">
          
            <oj-select-single id="selectMonth" label-hint="Rota Month" label-edge="inside"
                data="[[monthList]]" value="{{edit_rota_month}}" required
                ></oj-select-single>
          </oj-bind-if>  

            <oj-bind-if test="[[divCheck() == 'date' ]]">
              <oj-input-date id="editRotaDate" label-hint="Rota Start Date" class="" 
             value="{{edit_rota_date}}" required min="{{currentDate}}"></oj-input-date>
             <oj-input-date id="editRotaEndDate" label-hint="Rota End Date" class="" 
             value="{{edit_rota_end_date}}" required min="{{currentDate}}"></oj-input-date>
            </oj-bind-if>  
      <!--   <div style="position: relative; ">
          <oj-input-date id="editRotaDate" label-hint="Rota Start Date" class="oj-form-control-max-width-sm" 
              data-bind="visible: showRangeDate, attr: { required: !showSelectMonth() }" style="position: absolute;" value="{{edit_rota_date}}"></oj-input-date>
          <oj-select-single id="selectMonth" label-hint="Rota Month" label-edge="inside"
              data="[[monthList]]" value="{{edit_rota_month}}" 
              data-bind="visible: showSelectMonth, attr: { required: showSelectMonth() }" style="position: absolute;"></oj-select-single>
      </div>   -->
        </oj-bind-if>

        <oj-bind-if test="[[edit_rota_status() == 'Active' ]]">

          <oj-select-single id="editDuration" label-hint="Rota Type" label-edge="inside"
            data="[[durationList]]" value="{{edit_rota_type}}" on-value-changed="[[selectDiv2]]" required readonly></oj-select-single>
  
         
  
            <oj-bind-if test="[[divCheck() == 'month' ]]">
            
              <oj-select-single id="selectMonth" label-hint="Rota Month" label-edge="inside"
                  data="[[monthList]]" value="{{edit_rota_month}}" required readonly
                  ></oj-select-single>
            </oj-bind-if>  
  
              <oj-bind-if test="[[divCheck() == 'date' ]]">
                <oj-input-date id="editRotaDate" label-hint="Rota Start Date" class="" 
               value="{{edit_rota_date}}" required readonly></oj-input-date>
               <oj-input-date id="editRotaEndDate" label-hint="Rota End Date" class="" 
             value="{{edit_rota_end_date}}" required min="{{currentDate}}" readonly></oj-input-date>
              </oj-bind-if>  
          </oj-bind-if>
      </oj-form-layout>
      <div style="text-align: center;">
        <oj-button id="save" chroming="solid" on-oj-action="[[editRota]]">
      <i class="fas fa-save"></i> Update
    </oj-button>
      </div>
      </oj-validation-group>
    </div>
  </div>
</div>
</oj-bind-if>

</oj-bind-if>

<oj-bind-if test="[[userrole() != 'director' && userrole() != 'senior hr' && userrole() != 'senior manager' && userrole() != 'senior accounts']]">
  <div class="oj-panel oj-xl-margin-4x" style="box-shadow: 0 0 10px #b9adad; border-radius: 10px; padding: 20px;">
    <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
      <div style="flex: 1; max-width: 1200px;"> <!-- Top, Right, Bottom, Left Margins -->
        <oj-validation-group id="formValidation" class="form-container" role="group">
        <oj-form-layout id="rota-information" class="form" direction="row" max-columns="4" style="width: 100%; gap: 20px;">
          <div style="display: flex; flex-direction: column;">
            <oj-input-text id="editRotaName" label-hint="Rota Name" required="true" value="{{edit_rota_name}}" on-value-changed="[[rotaExistCheck]]" readonly></oj-input-text>
            <oj-bind-if test="[[existRota() != '' ]]">
              <div style="color: red; margin-top: -20px;">
                <oj-bind-text value="[[existRota]]"></oj-bind-text>
              </div>
            </oj-bind-if>
          </div>
  <oj-select-single id="editDuration" label-hint="Rota Duration" label-edge="inside"
  data="[[durationList]]" value="{{edit_rota_type}}" on-value-changed="[[selectDiv2]]" required readonly></oj-select-single>
  <oj-bind-if test="[[divCheck() == 'month' ]]">

    <oj-select-single id="selectMonth" label-hint="Rota Month" label-edge="inside"
        data="[[monthList]]" value="{{edit_rota_month}}" required readonly
        ></oj-select-single>
  </oj-bind-if>  

    <oj-bind-if test="[[divCheck() == 'date' ]]">
      <oj-input-date id="editRotaDate" label-hint="Rota Start Date" class="" 
     value="{{edit_rota_date}}" required readonly></oj-input-date>
     <oj-input-date id="editRotaEndDate" label-hint="Rota End Date" class="" 
     value="{{edit_rota_end_date}}" required min="{{currentDate}}" readonly></oj-input-date>
    </oj-bind-if>  
</oj-bind-if>
</oj-form-layout>
</oj-validation-group>
</div>
</div>
</div>
</oj-bind-if>



  <div class="oj-flex oj-xl-margin-4x oj-md-flex-items-initial oj-md-justify-content-space-between">

  <div class="oj-flex oj-sm-flex-items-initial oj-md-justify-content-flex-start">
    <oj-button id="back"chroming="borderless" on-oj-action="[[goToPage]]" 
    style="background-color: #6c5ffc;color: #fff;border-radius: 10px;margin-top:28px;;margin-left:10px;">
    <span id="buttonText" style="color: #fff;"><i class="fa-solid fa-arrow-left"></i> Back To Rota List</span>
</oj-button>
<oj-bind-if test="[[userrole() == 'director' || userrole() == 'senior hr' || userrole() == 'senior manager' || userrole() == 'senior accounts']]">
      <div class="oj-flex-item oj-md-padding-2x-horizontal oj-sm-padding-2x-vertical">
        <oj-button id="back"chroming="borderless" on-oj-action="[[goToShiftTab]]" 
        style="background-color: #6c5ffc;color: #fff;border-radius: 10px;margin-top:20px;;margin-left:10px;">
        <span id="buttonText" style="color: #fff;"><i class="fa-solid fa-arrow-left"></i> Back To Shift List</span>
    </oj-button>
      </div>
</oj-bind-if>
    </div> 
    <oj-bind-if test="[[userrole() == 'director' || userrole() == 'senior hr' || userrole() == 'senior manager' || userrole() == 'senior accounts']]">
    <div class="oj-flex oj-sm-flex-items-initial oj-md-justify-content-flex-start">
    <oj-bind-if test="[[edit_rota_status() == 'Draft' ]]">
    <oj-button id="back"chroming="borderless" on-oj-action="[[publishRota]]" 
    style="background-color: #6c5ffc;color: #fff;border-radius: 10px;margin-top:18px;margin-right:10px;">
    <span id="buttonText" style="color: #fff;"><i class="fa-solid fa-calendar"></i> Publish</span>
    </oj-button>
      </oj-bind-if>
      <oj-bind-if test="[[edit_rota_status() == 'Active' ]]">
        <oj-button id="export"chroming="borderless" on-oj-action="[[downloadExcel]]" 
        style="background-color: #34b53a;color: #fff;border-radius: 10px;margin-top:18px;margin-right:10px;">
        <span id="buttonText" style="color: #fff;"><i class="fa-solid fa-download"></i> Export</span>
        </oj-button>
        <oj-button id="back"chroming="borderless" on-oj-action="[[unpublishRota]]" 
        style="background-color: #6c5ffc;color: #fff;border-radius: 10px;margin-top:18px;margin-right:10px;">
        <span id="buttonText" style="color: #fff;"><i class="fa-solid fa-calendar"></i> Unpublish</span>
        </oj-button>&nbsp
        <oj-button id="back"chroming="borderless" on-oj-action="[[alertRota]]" 
        style="background-color: #6c5ffc;color: #fff;border-radius: 10px;margin-top:18px;margin-right:10px;">
        <span id="buttonText" style="color: #fff;"><i class="fa-solid fa-calendar"></i> Publish</span>
        </oj-button>
      </oj-bind-if>
</div>
    </oj-bind-if>
  </div> 


<oj-popup id="updateSuccessView" class="demo-popup" auto-dismiss="none" modality="modal" aria-labelledby="popupTitle"
position.my.horizontal="center" position.my.vertical="center" position.at.horizontal="center"
position.at.vertical="center" position.of="window" tail="none" style="width: 300px;border-radius: 10px;">
<div class="demo-popup-body oj-sm-padding-2x">
    <div class="demo-popup-content oj-sm-padding-2x oj-flex oj-sm-flex-direction-column 
        oj-sm-justify-content-center oj-sm-align-items-center">
        <i class="fa-solid fa-circle-check fa-3x" style="color: #34B53A;"></i>
        <p style="font-weight: 500;text-align: center;font-size: 23px;margin-top: 20px;">Rota updated successfully.</p>
        <br>
        <oj-button id="btnCancel" chroming="borderless" class="oj-button-sm" display="icons" on-oj-action="[[messageClose]]"
        style="background-color: #34B53A;border-radius: 10px;padding: 5px;">
            <span style="color: #fff;font-size: 20px;">Okay</span>
        </oj-button>
    </div>
</div>
</oj-popup>



<div class="oj-panel oj-xl-margin-4x" style="box-shadow: 0 0 10px #b9adad;border-radius: 10px;">
   
    <table id="shift-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>00:00</th>
                <th>01:00</th>
                <th>02:00</th>
                <th>03:00</th>
                <th>04:00</th>
                <th>05:00</th>
                <th>06:00</th>
                <th>07:00</th>
                <th>08:00</th>
                <th>09:00</th>
                <th>10:00</th>
                <th>11:00</th>
                <th>12:00</th>
                <th>13:00</th>
                <th>14:00</th>
                <th>15:00</th>
                <th>16:00</th>
                <th>17:00</th>
                <th>18:00</th>
                <th>19:00</th>
                <th>20:00</th>
                <th>21:00</th>
                <th>22:00</th>
                <th>23:00</th>
            </tr>
        </thead>
        <tbody>
            <!-- Dynamic rows will be added here -->
        </tbody>
    </table>
 </div>

 <oj-popup id="warningView" class="demo-popup" auto-dismiss="none" modality="modal" aria-labelledby="popupTitle"
position.my.horizontal="center" position.my.vertical="center" position.at.horizontal="center"
position.at.vertical="center" position.of="window" tail="none" style="width: 300px;border-radius: 10px;">
<div class="demo-popup-body oj-sm-padding-2x">
    <div class="demo-popup-content oj-sm-padding-2x oj-flex oj-sm-flex-direction-column 
        oj-sm-justify-content-center oj-sm-align-items-center">
        <i class="fa-solid fa-exclamation-triangle fa-3x" style="color: #c70000;"></i>
        <p style="font-weight: 500;text-align: center;font-size: 18px;margin-top: 20px;">Are you sure you want to publish this rota?</p>
        <br>
        <div style="text-align: center;">
          <oj-button id="btnCancel1" chroming="borderless" class="oj-button-sm" display="icons" on-oj-action="[[warnMsgClose]]"
              style="background-color: #c70000; border-radius: 10px; padding: 5px; display: inline-block; margin-right: 10px;">
              <span style="color: #fff; font-size: 20px;">Cancel</span>
          </oj-button>
          <oj-button id="btnCancel2" chroming="borderless" class="oj-button-sm" display="icons" on-oj-action="[[confirmPublishRota]]"
              style="background-color: green; border-radius: 10px; padding: 5px; display: inline-block;">
              <span style="color: #fff; font-size: 20px;">Okay</span>
          </oj-button>
      </div>
      
    </div>
</div>
</oj-popup>

<oj-popup id="warningUnpublishView" class="demo-popup" auto-dismiss="none" modality="modal" aria-labelledby="popupTitle"
position.my.horizontal="center" position.my.vertical="center" position.at.horizontal="center"
position.at.vertical="center" position.of="window" tail="none" style="width: 300px;border-radius: 10px;">
<div class="demo-popup-body oj-sm-padding-2x">
    <div class="demo-popup-content oj-sm-padding-2x oj-flex oj-sm-flex-direction-column 
        oj-sm-justify-content-center oj-sm-align-items-center">
        <i class="fa-solid fa-exclamation-triangle fa-3x" style="color: #c70000;"></i>
        <p style="font-weight: 500;text-align: center;font-size: 18px;margin-top: 20px;">Are you sure you want to unpublish this rota?</p>
        <br>
        <div style="text-align: center;">
          <oj-button id="btnCancel1" chroming="borderless" class="oj-button-sm" display="icons" on-oj-action="[[warnMsgClose]]"
              style="background-color: #c70000; border-radius: 10px; padding: 5px; display: inline-block; margin-right: 10px;">
              <span style="color: #fff; font-size: 20px;">Cancel</span>
          </oj-button>
          <oj-button id="btnCancel2" chroming="borderless" class="oj-button-sm" display="icons" on-oj-action="[[confirmUnpublishRota]]"
              style="background-color: green; border-radius: 10px; padding: 5px; display: inline-block;">
              <span style="color: #fff; font-size: 20px;">Okay</span>
          </oj-button>
      </div>
      
    </div>
</div>
</oj-popup>




<oj-popup id="publishNotAllowed" class="demo-popup" auto-dismiss="none" modality="modal" aria-labelledby="popupTitle"
position.my.horizontal="center" position.my.vertical="center" position.at.horizontal="center"
position.at.vertical="center" position.of="window" tail="none" style="width: 300px;border-radius: 10px;">
<div class="demo-popup-body oj-sm-padding-2x">
    <div class="demo-popup-content oj-sm-padding-2x oj-flex oj-sm-flex-direction-column 
        oj-sm-justify-content-center oj-sm-align-items-center">
        <i class="fa-solid fa-exclamation-triangle fa-3x" style="color: #c70000;"></i>
        <p style="font-weight: 500;text-align: center;font-size: 18px;margin-top: 20px;"><oj-bind-text value="[[publishIssueMsg]]"></oj-bind-text></p>
        <br>
        <oj-button id="btnCancel" chroming="borderless" class="oj-button-sm" display="icons" on-oj-action="[[warnDateIssueMsgClose]]"
        style="background-color: #c70000;border-radius: 10px;padding: 5px;">
            <span style="color: #fff;font-size: 20px;">Okay</span>
        </oj-button>
    </div>
</div>
</oj-popup>



 <oj-dialog id="openAssignEmployees" class="popupShift" dialog-title="Assign Employees" modality="modeless" drag-affordance="title-bar"
  cancel-behavior="[[CancelBehaviorOpt]]">
  <oj-validation-group id="formValidation" class="form-container" role="group">
    <div id="form-container">
        <oj-form-layout id="shift-information" class="form" direction="row" max-columns="1">
          <div>
            <oj-input-text value="{{shift_date}}" id="shiftDate" label-hint="Shift Date" readonly="true"></oj-input-text>
          </div> 
          <div>
            <oj-select-single id="selectShift" label-hint="Select Shift" label-edge="inside"
            data="[[ShiftList]]" value="{{shift}}" on-value-changed="[[allocationExist]]" required></oj-select-single> 
          </div>  
          <div>
            <oj-select-many id="selectEmployees" label-hint="Add Employees" label-edge="inside"
            options="[[StaffList]]" value='{{selectedEmployees}}' required></oj-select-many>   
          </div>
          <div>
            <oj-select-many id="selectOffEmployees" label-hint="Add Week off Employees" label-edge="inside"
            options="[[OffStaffList]]" value='{{selectedOffEmployees}}'></oj-select-many>   
          </div>
        </oj-form-layout>
        <oj-bind-if test="[[allocationExistVal() == 'No' ]]">
          <oj-button chroming="solid"  on-oj-action="[[assignEmployees]]" class="oj-sm-padding-3x-vertical">
          <i class="fas fa-save"></i>&nbsp; Submit
        </oj-button>  
        </oj-bind-if> 
        <oj-bind-if test="[[allocationExistVal() == 'Yes' ]]">
        <oj-button chroming="solid"  on-oj-action="[[assignEmployeesUpdate]]" class="oj-sm-padding-3x-vertical">
          <i class="fas fa-save"></i>&nbsp; Update
        </oj-button>
        </oj-bind-if>   
   </div>
</oj-validation-group>
</oj-dialog>

<oj-dialog id="openEditShift" class="popupShift" dialog-title="Edit Shift" modality="modeless" drag-affordance="title-bar"
  cancel-behavior="[[CancelBehaviorOpt]]">
  <oj-validation-group id="formValidation" class="form-container" role="group">
    <div id="form-container">
        <oj-form-layout id="shift-information" class="form" direction="row" max-columns="1">
          <div>
            <oj-form-layout max-columns="3" direction="row" class="oj-sm-padding-2x-bottom">
              <oj-input-text value="{{edit_shiftName}}" id="shiftName" label-hint="Shift Name"></oj-input-text>
              <oj-input-time value="{{edit_startTime}}" id="startTime" label-hint="Shift Start Time"></oj-input-time>
              <oj-input-time value="{{edit_endTime}}" id="endTime" label-hint="Shift End Time"></oj-input-time>
              <oj-text-area id="notes" label-hint="Additional Notes" rows="3" value="{{edit_notes}}">
            </oj-text-area>
            </oj-form-layout>    
          </div>  
        </oj-form-layout>
        <oj-button chroming="solid"  on-oj-action="[[messageClose]]" class="oj-sm-padding-3x-vertical">
          Save
        </oj-button>   
   </div>
</oj-validation-group>
</oj-dialog>

<oj-popup id="loaderPopup" class="demo-popup" auto-dismiss="none" modality="modal" position.my.horizontal="center"
position.my.vertical="center" position.at.horizontal="center" position.at.vertical="center" position.of="window" tail="none">
    <div class="demo-popup-body">
        <div class="demo-popup-content oj-sm-padding-2x">
            <oj-progress-circle id="progressCircle" value="-1"></oj-progress-circle>
        </div>
    </div>
</oj-popup> 

<oj-popup id="successView" class="demo-popup" auto-dismiss="none" modality="modal" aria-labelledby="popupTitle"
    position.my.horizontal="center" position.my.vertical="center" position.at.horizontal="center"
    position.at.vertical="center" position.of="window" tail="none" style="width: 300px;border-radius: 10px;">
    <div class="demo-popup-body oj-sm-padding-2x">
        <div class="demo-popup-content oj-sm-padding-2x oj-flex oj-sm-flex-direction-column 
            oj-sm-justify-content-center oj-sm-align-items-center">
            <i class="fa-solid fa-circle-check fa-3x" style="color: #34B53A;"></i>
            <p style="font-weight: 500;text-align: center;font-size: 23px;margin-top: 20px;">Staff allocated successfully</p>
            <br>
            <oj-button id="btnCancel" chroming="borderless" class="oj-button-sm" display="icons" on-oj-action="[[messageClose]]"
            style="background-color: #34B53A;border-radius: 10px;padding: 5px;">
                <span style="color: #fff;font-size: 20px;">Okay</span>
            </oj-button>
        </div>
    </div>
</oj-popup>

<oj-popup id="warningViewDuplicate" class="demo-popup" auto-dismiss="none" modality="modal" aria-labelledby="popupTitle"
position.my.horizontal="center" position.my.vertical="center" position.at.horizontal="center"
position.at.vertical="center" position.of="window" tail="none" style="width: 300px;border-radius: 10px;">
<div class="demo-popup-body oj-sm-padding-2x">
    <div class="demo-popup-content oj-sm-padding-2x oj-flex oj-sm-flex-direction-column 
        oj-sm-justify-content-center oj-sm-align-items-center">
        <i class="fa-solid fa-exclamation-triangle fa-3x" style="color: #c70000;"></i>
        <p style="font-weight: 500;text-align: center;font-size: 18px;margin-top: 20px;">Duplicate selections detected! Please adjust your selection.</p>
        <br>
        <oj-button id="btnCancel" chroming="borderless" class="oj-button-sm" display="icons" on-oj-action="[[warnDuplicateMsgClose]]"
        style="background-color: #c70000;border-radius: 10px;padding: 5px;">
            <span style="color: #fff;font-size: 20px;">Okay</span>
        </oj-button>
    </div>
</div>
</oj-popup>


<oj-popup id="warningAlertView" class="demo-popup" auto-dismiss="none" modality="modal" aria-labelledby="popupTitle"
position.my.horizontal="center" position.my.vertical="center" position.at.horizontal="center"
position.at.vertical="center" position.of="window" tail="none" style="width: 300px;border-radius: 10px;">
<div class="demo-popup-body oj-sm-padding-2x">
    <div class="demo-popup-content oj-sm-padding-2x oj-flex oj-sm-flex-direction-column 
        oj-sm-justify-content-center oj-sm-align-items-center">
        <i class="fa-solid fa-exclamation-triangle fa-3x" style="color: #c70000;"></i>
        <p style="font-weight: 500;text-align: center;font-size: 18px;margin-top: 20px;">Are you sure you want to notify staff about the recent rota changes?</p>
        <br>
        <div style="text-align: center;">
          <oj-button id="btnCancel1" chroming="borderless" class="oj-button-sm" display="icons" on-oj-action="[[warnAlertMsgClose]]"
              style="background-color: #c70000; border-radius: 10px; padding: 5px; display: inline-block; margin-right: 10px;">
              <span style="color: #fff; font-size: 20px;">Cancel</span>
          </oj-button>
          <oj-button id="btnCancel2" chroming="borderless" class="oj-button-sm" display="icons" on-oj-action="[[confirmAlertRota]]"
              style="background-color: green; border-radius: 10px; padding: 5px; display: inline-block;">
              <span style="color: #fff; font-size: 20px;">Okay</span>
          </oj-button>
      </div>
      
    </div>
</div>
</oj-popup>

<oj-popup id="warningViewDateSame" class="demo-popup" auto-dismiss="none" modality="modal" aria-labelledby="popupTitle"
position.my.horizontal="center" position.my.vertical="center" position.at.horizontal="center"
position.at.vertical="center" position.of="window" tail="none" style="width: 300px;border-radius: 10px;">
<div class="demo-popup-body oj-sm-padding-2x">
    <div class="demo-popup-content oj-sm-padding-2x oj-flex oj-sm-flex-direction-column 
        oj-sm-justify-content-center oj-sm-align-items-center">
        <i class="fa-solid fa-exclamation-triangle fa-3x" style="color: #c70000;"></i>
        <p style="font-weight: 500;text-align: center;font-size: 18px;margin-top: 20px;">The start date and end date are the same!Please select different dates.</p>
        <br>
        <oj-button id="btnCancel" chroming="borderless" class="oj-button-sm" display="icons" on-oj-action="[[warnDateIssueMsgClose]]"
        style="background-color: #c70000;border-radius: 10px;padding: 5px;">
            <span style="color: #fff;font-size: 20px;">Okay</span>
        </oj-button>
    </div>
</div>
</oj-popup>

<oj-popup id="warningViewDateIssue" class="demo-popup" auto-dismiss="none" modality="modal" aria-labelledby="popupTitle"
position.my.horizontal="center" position.my.vertical="center" position.at.horizontal="center"
position.at.vertical="center" position.of="window" tail="none" style="width: 300px;border-radius: 10px;">
<div class="demo-popup-body oj-sm-padding-2x">
    <div class="demo-popup-content oj-sm-padding-2x oj-flex oj-sm-flex-direction-column 
        oj-sm-justify-content-center oj-sm-align-items-center">
        <i class="fa-solid fa-exclamation-triangle fa-3x" style="color: #c70000;"></i>
        <p style="font-weight: 500;text-align: center;font-size: 18px;margin-top: 20px;">Please ensure that the start date is before the end date.
        </p>
        <br>
        <oj-button id="btnCancel" chroming="borderless" class="oj-button-sm" display="icons" on-oj-action="[[warnDateIssueMsgClose]]"
        style="background-color: #c70000;border-radius: 10px;padding: 5px;">
            <span style="color: #fff;font-size: 20px;">Okay</span>
        </oj-button>
    </div>
</div>
</oj-popup>



<div class="centered-container" id="loaderView" style="display: none;">
  <div class="loader"></div>
</div>