
.oj-web-applayout-page{
  height: 100vh;
  position: relative;
  background-image: url("../../css/images/HRModule-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;  
  background-size: cover;
}

.oj-web-applayout-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #5a5278;  */
  background: linear-gradient(160deg, #0093E9 0%, #80D0C7 50%);
  opacity: 0.7; 
}

.login-div{    
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-form{
  background-color: #ffffff;
  padding: 70px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form img{
  width: 200px;
  margin-bottom: 10px;
}
