<!-- <link rel="stylesheet" href="../../Hr/css/addStaff.css"> -->

<link rel="stylesheet" href="../../css/addStaff.css">
<!----
    <div class="oj-panel oj-xl-margin-4x oj-sm-justify-content-space-between oj-sm-align-items-center" style="width: 100%;padding: 10px;">
        <div><span class="hint-title"> <span class="icon-container"><i class="fas fa-user icon"></i></span>&nbsp;Company Settings </span><span class="hint-note">(Can organize basic company information, department, and designation using separate tabs here.)</span></div> 
    </div> -->
    
    <div class="oj-xl-margin-4x tab-bg-style" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="oj-flex oj-sm-justify-content-space-around oj-sm-align-items-center">
            <oj-buttonset-one id="setMultipleButtons" value="{{selectedTab}}" aria-label="Choose only one format">
          <oj-bind-for-each data="[[tabData]]">
            <template>
              <oj-option value="[[$current.data.id]]">
                <span>
                  <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                </span>
              </oj-option>
            </template>
          </oj-bind-for-each>
        </oj-buttonset-one>
      </div>
    </div>
    
<div id="company">
<div class="oj-flex oj-xl-margin-4x" style="margin-top: -10px;">
    <oj-validation-group id="formValidation" class="form-container" role="group">
        <div id="form-container-employee">
            <oj-form-layout id="company-information" class="form" direction="row" max-columns="2">
                <oj-input-text id="companyName" label-hint="Company Name" required="true" value="{{companyName}}"></oj-input-text>
                <oj-input-text id="companyCode" label-hint="Company Code" required="true" value="{{company_Code}}"></oj-input-text>
                <oj-input-text id="businessType" label-hint="Business Type" required="true" value="{{businessType}}"></oj-input-text>
                <div class="oj-flex">
                    <div class="oj-flex-item oj-sm-5 oj-sm-padding-2x-end oj-md-padding-3x-end">
                        <oj-select-single required id="countryCodes" label-hint="Country Code" label-edge="inside"
                            data="[[countryCodes]]" value="{{countryCode}}"></oj-select-single>
                    </div>
                    <div class="oj-flex-item oj-sm-7 oj-sm-padding-2x-start oj-md-padding-3x-start">
                        <oj-input-text id="phone" label-hint="Phone" required="true" value="{{phone}}" length.max="10" on-value-changed="[[phoneValidator]]"></oj-input-text>
                    </div>
                    <div class="oj-text-color-danger"><oj-bind-text value='[[phoneError]]'></oj-bind-text></div></br>
                </div>
                <div>
                    <oj-input-text id="email" label-hint="Email" required="true" value="{{email}}" on-value-changed="[[emailPatternValidator]]"></oj-input-text>
                    <div class="oj-text-color-danger"><oj-bind-text value='[[emailError]]'></oj-bind-text></div></br>
                </div>
                <oj-input-text id="contactPerson" label-hint="Contact Person" required="true" autocomplete="off" value="{{contactPerson}}"></oj-input-text>
                <oj-input-text id="designation" label-hint="Designation" required="true" autocomplete="off" value="{{designation}}"></oj-input-text>
                <oj-text-area id="address" value="{{address}}" label-hint="Address" raw-valuenewE=""
                 rows="3" clear-icon="always" required="true">
                </oj-text-area> 
                <div class="oj-flex">
                    <div class="oj-flex-item oj-sm-3 oj-sm-padding-2x-end oj-md-padding-3x-end" style="padding-top:10px">
                        <oj-avatar
                        role="img"
                        src="[[companyLogoShow]]"
                        :title="Company Logo">
                        </oj-avatar>      
                    </div>
                    <div class="oj-flex-item oj-sm-9 oj-sm-padding-2x-start oj-md-padding-3x-start">
                        <oj-file-picker  id="companyLogo" class="demo-max-width" primary-text="Company Logo"
                        secondary-text="[[secondaryText]]" on-oj-select="[[uploadCompanyLogo]]">
                        </oj-file-picker>
                        <span class="hint-note">(Please upload an image with 250x250 px (Pixel))</span>
                        <div class="oj-text-color-danger"><oj-bind-text value='[[typeError]]'></oj-bind-text></div></br>                   </div>
                </div> 
            </oj-form-layout>
            <oj-button id="save" chroming="solid" on-oj-action="[[formSubmit]]"><i class="fas fa-save"></i> Submit</oj-button>
        </div>
    </oj-validation-group>
</div>
</div>


<div id="department" style="display: none;">
    <div class="oj-panel oj-flex oj-xl-margin-4x" style="box-shadow: 0 0 10px #b9adad;border-radius: 10px;">
        <oj-validation-group id="formValidationDepartment" class="form-container" role="group">
            <div id="form-container-row">
                <oj-form-layout id="designation-information" class="form" direction="row" max-columns="2">
                    <oj-input-text id="departmentName" label-hint="Department" required="true" value="{{departmentName}}"></oj-input-text>
                    <oj-button id="save" chroming="solid" class="oj-sm-padding-1x-vertical" on-oj-action="[[formSubmitDepartment]]"><i class="fas fa-save"></i> Submit</oj-button>
                </oj-form-layout>
            </div>
        </oj-validation-group>
    </div>

    <div class="oj-panel" style="margin-top: 30px;">
        <oj-table id='departmentTable' aria-label='All Table' data='[[dataProvider]]' display='list'
        selection-mode='{"row": "single"}'  columns='[
        { "headerClassName" : "table-header-style",
        "headerText": "SL.No", "field": "no", "id": "no",
        "maxWidth" : "8rem" },
        { "headerClassName" : "table-header-style",
        "headerText": "Department", "field": "department", "id": "department" },
        { "headerClassName" : "table-header-style",
        "headerText": "Action",
        "maxWidth" : "10rem",
        "className":"oj-helper-text-align-center oj-sm-padding-0-vertical",
        "template": "actionTemplate", "id": "action","sortable": "disabled" }]' style='width: 100%;' class="demo-table-container">
        <template slot="actionTemplate" data-oj-as="cell">
            <oj-button
            chroming="borderless"
            display="icons"
            on-oj-action="[[deleteDepartment]]">
            <span slot="startIcon" class="fa-solid fa-trash delete-btn"></span>
            Delete
            </oj-button>
        </template>
        </oj-table>
    </div>

</div>


<div id="designationSec" style="display: none;">
    <div class="oj-panel oj-flex oj-xl-margin-4x" style="box-shadow: 0 0 10px #b9adad;border-radius: 10px;">
        <oj-validation-group id="formValidationDesignation" class="form-container" role="group">
            <div id="form-container-row">
                <oj-form-layout id="designation-information" class="form" direction="row" max-columns="3">
                    <oj-select-single id="departmentId" label-hint="Department" label-edge="inside" required="true" class="oj-form-control-max-width-md" 
                        value="{{departmentId}}"  data="[[departmentList]]"></oj-select-single>
                    <oj-input-text id="designationId" label-hint="Designation" required="true" value="{{designationId}}"></oj-input-text>
                    <oj-button id="save" chroming="solid" on-oj-action="[[formSubmitDesignation]]" class="oj-sm-padding-2x-vertical"><i class="fas fa-save"></i> Submit</oj-button>
                </oj-form-layout>
            </div>
        </oj-validation-group>
    </div>

    <div class="oj-panel" style="margin-top: 30px;">
        <oj-table id='designationTable' aria-label='All Table' data='[[dataProvider1]]' display='list'
        selection-mode='{"row": "single"}'  columns='[
        { "headerClassName" : "table-header-style",
        "headerText": "SL.No", "field": "no", "id": "no" },
        { "headerClassName" : "table-header-style",
          "headerText": "Department", "field": "department", "id": "department" },
        { "headerClassName" : "table-header-style",
          "headerText": "Designation", "field": "designation", "id": "designation" },
        { "headerClassName" : "table-header-style",
          "headerText": "Count", "field": "count", "id": "count" },
        { "headerClassName" : "table-header-style",
          "headerText": "Action",
          "maxWidth" : "10rem",
          "className":"oj-helper-text-align-center oj-sm-padding-0-vertical",
          "template": "actionTemplate", "id": "action","sortable": "disabled" }]' style='width: 100%;' class="demo-table-container">
         <template slot="actionTemplate" data-oj-as="cell">
             <oj-button
              chroming="borderless"
              display="icons"
              on-oj-action="[[deleteDesignation]]">
              <span slot="startIcon" class="fa-solid fa-trash delete-btn"></span>
              Delete
            </oj-button>
         </template>
        </oj-table>
    </div>

</div>

    

<!--yaseen-->
<div id="roles" style="display: none;">
    <div class="oj-flex oj-xl-margin-4x" style="margin-top: -10px;">
        <!--<oj-validation-group id="formValidationRoles" class="form-container" role="group">
            <div id="form-container-row">
                <oj-form-layout id="designation-information" class="form" direction="row" max-columns="2">
                    <oj-input-text id="rolesName" label-hint="Roles" required="true" value="{{rolesName}}"></oj-input-text>
                    <oj-button id="save" chroming="solid" class="oj-sm-padding-2x-vertical" on-oj-action="[[formSubmitRoles]]"><i class="fas fa-save"></i> Submit</oj-button>
                </oj-form-layout>
            </div>
            <hr>
        </oj-validation-group> -->
        <oj-table id='addRoles' aria-label='All Table' data='[[dataProvider2]]' display='list'
        selection-mode='{"row": "single"}'  columns='[
        { "headerClassName" : "table-header-style",
        "headerText": "SL.No", "field": "no", "id": "no",
        "maxWidth" : "8rem" },
        { "headerClassName" : "table-header-style",
        "headerText": "Roles", "field": "roles", "id": "roles" },
        { "headerClassName" : "table-header-style",
        "headerText": "Privilege",
        "maxWidth" : "15rem",
        "className":"oj-helper-text-align-center oj-sm-padding-0-vertical",
        "template": "pTemplate", "id": "paction","sortable": "disabled" }]' style='width: 100%;' class="demo-table-container">
            <template slot="pTemplate" data-oj-as="cell">
                <oj-button
                chroming="borderless"
                display="icons"
                on-oj-action="[[viewPrivilege]]">
                <span slot="startIcon" class="fa-solid fa-info info-btn"></span>
                View
                </oj-button> 
            </template>
        </oj-table>
    </div>
</div>
<!--yaseen-->

<oj-popup id="popup1" class="demo-popup" auto-dismiss="none" modality="modal" position.my.horizontal="center"
    position.my.vertical="center" position.at.horizontal="center" position.at.vertical="center" position.of="window" tail="none">
    <div class="demo-popup-body">
        <div class="demo-popup-content oj-sm-padding-2x">
            <oj-progress-circle id="progressCircle" value="-1"></oj-progress-circle>
        </div>
    </div>
</oj-popup>

<oj-popup id="popup2" class="demo-popup" auto-dismiss="none" modality="modal" aria-labelledby="popupTitle"
    position.my.horizontal="center" position.my.vertical="center" position.at.horizontal="center"
    position.at.vertical="center" position.of="window" tail="none" style="width: 300px;border-radius: 10px;">
    <div class="demo-popup-body oj-sm-padding-2x">
        <div class="demo-popup-content oj-sm-padding-2x oj-flex oj-sm-flex-direction-column 
            oj-sm-justify-content-center oj-sm-align-items-center">
            <i class="fa-solid fa-circle-check fa-3x" style="color: #34B53A;"></i>
            <p style="font-weight: 500;text-align: center;font-size: 23px;margin-top: 20px;">Company details saved successfully</p>
            <br>
            <oj-button id="btnCancel" chroming="borderless" class="oj-button-sm" display="icons" on-oj-action="[[messageClose]]"
            style="background-color: #34B53A;border-radius: 10px;padding: 5px;">
                <span style="color: #fff;font-size: 20px;">Okay</span>
            </oj-button>
        </div>
    </div>
</oj-popup>

<oj-popup id="popup3" class="demo-popup" auto-dismiss="none" modality="modal" aria-labelledby="popupTitle"
    position.my.horizontal="center" position.my.vertical="center" position.at.horizontal="center"
    position.at.vertical="center" position.of="window" tail="none" style="width: 300px;border-radius: 10px;">
    <div class="demo-popup-body oj-sm-padding-2x">
        <div class="demo-popup-content oj-sm-padding-2x oj-flex oj-sm-flex-direction-column 
            oj-sm-justify-content-center oj-sm-align-items-center">
            <i class="fa-solid fa-circle-check fa-3x" style="color: #34B53A;"></i>
            <p style="font-weight: 500;text-align: center;font-size: 23px;margin-top: 20px;">Department saved successfully</p>
            <br>
            <oj-button id="btnCancel" chroming="borderless" class="oj-button-sm" display="icons" on-oj-action="[[messageCloseDepartment]]"
            style="background-color: #34B53A;border-radius: 10px;padding: 5px;">
                <span style="color: #fff;font-size: 20px;">Okay</span>
            </oj-button>
        </div>
    </div>
</oj-popup>

<oj-popup id="popup4" class="demo-popup" auto-dismiss="none" modality="modal" aria-labelledby="popupTitle"
    position.my.horizontal="center" position.my.vertical="center" position.at.horizontal="center"
    position.at.vertical="center" position.of="window" tail="none" style="width: 300px;border-radius: 10px;">
    <div class="demo-popup-body oj-sm-padding-2x">
        <div class="demo-popup-content oj-sm-padding-2x oj-flex oj-sm-flex-direction-column 
            oj-sm-justify-content-center oj-sm-align-items-center">
            <i class="fa-solid fa-circle-check fa-3x" style="color: #34B53A;"></i>
            <p style="font-weight: 500;text-align: center;font-size: 23px;margin-top: 20px;">Designation saved successfully</p>
            <br>
            <oj-button id="btnCancel" chroming="borderless" class="oj-button-sm" display="icons" on-oj-action="[[messageCloseDesignation]]"
            style="background-color: #34B53A;border-radius: 10px;padding: 5px;">
                <span style="color: #fff;font-size: 20px;">Okay</span>
            </oj-button>
        </div>
    </div>
</oj-popup>

<oj-popup id="popup5" class="demo-popup" auto-dismiss="none" modality="modal" aria-labelledby="popupTitle"
    position.my.horizontal="center" position.my.vertical="center" position.at.horizontal="center"
    position.at.vertical="center" position.of="window" tail="none" style="width: 300px;border-radius: 10px;">
    <div class="demo-popup-body oj-sm-padding-2x">
        <div class="demo-popup-content oj-sm-padding-2x oj-flex oj-sm-flex-direction-column 
            oj-sm-justify-content-center oj-sm-align-items-center">
            <i class="fa-solid fa-circle-check fa-3x" style="color: #34B53A;"></i>
            <p style="font-weight: 500;text-align: center;font-size: 23px;margin-top: 20px;">Roles saved successfully</p>
            <br>
            <oj-button id="btnCancel" chroming="borderless" class="oj-button-sm" display="icons" on-oj-action="[[messageCloseRoles]]"
            style="background-color: #34B53A;border-radius: 10px;padding: 5px;">
                <span style="color: #fff;font-size: 20px;">Okay</span>
            </oj-button>
        </div>
    </div>
</oj-popup>

<oj-dialog id="openPrivilege" class="popupGoal" dialog-title="View privileges" modality="modeless" drag-affordance="title-bar"
    cancel-behavior="[[CancelBehaviorOpt]]">
      <div id="form-container">
        <div class="info-bar">
            Please select a module to view the specific functionalities and permissions available for the role.
        </div>
          <oj-form-layout id="Privilege-information" class="form" direction="row" max-columns="1">
            <oj-select-single
            id="select1"
            value="{{privilege}}"
            data="{{privilege_List}}"
            label-edge="inside"
            label-hint="Select the module"
            on-value-changed="[[getPrivilege]]">      
            </oj-select-single>
            <oj-text-area id="description" value="{{description}}" label-hint="Available functionalities" rows="5" readonly="true"></oj-text-area>
          </oj-form-layout>
      </div>
</oj-dialog>

<oj-popup id="loaderPopup" class="demo-popup" auto-dismiss="none" modality="modal" position.my.horizontal="center"
    position.my.vertical="center" position.at.horizontal="center" position.at.vertical="center" position.of="window" tail="none">
    <div class="demo-popup-body">
        <div class="demo-popup-content oj-sm-padding-2x">
            <oj-progress-circle id="progressCircle" value="-1"></oj-progress-circle>
        </div>
    </div>
</oj-popup>

<div class="centered-container" id="loaderView">
    <div class="loader"></div>
  </div> 