<link rel="stylesheet" href="../../css/addStaff.css">


<div class="oj-xl-margin-4x tab-bg-style" style="margin-top: 20px; margin-bottom: 10px;">
    <div class="oj-flex oj-sm-justify-content-space-around oj-sm-align-items-center">
        <oj-buttonset-one id="setMultipleButtons" value="{{selectedTab}}" aria-label="Choose only one format">
      <oj-bind-for-each data="[[tabData]]">
        <template>
          <oj-option value="[[$current.data.id]]">
            <span>
              <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
            </span>
          </oj-option>
        </template>
      </oj-bind-for-each>
    </oj-buttonset-one>
  </div>
</div>


<div id="report" class="oj-panel oj-xl-margin-4x" style="display:none;margin: 10px;padding: 10px;box-shadow: 0 0 10px #b9adad;border-radius: 10px;">
  <div class="oj-flex-item oj-sm-padding-2x-horizontal  oj-sm-margin-4x">
    <div class="oj-flex oj-md-padding-2x-horizontal oj-sm-padding-2x-vertical">
      <div class="oj-flex-item oj-flex oj-sm-12 oj-md-2 oj-md-padding-1x-horizontal">
        <oj-input-date id="from" label-hint="Select From date" value="{{fromDate}}" date-picker="[[datePicker]]"
        class="oj-form-control-max-width-sm" autocomplete="off" style="margin-top: 5px;">
        </oj-input-date>
      </div>
      <div class="oj-flex-item oj-flex oj-sm-12 oj-md-2 oj-md-padding-1x-horizontal">
        <oj-input-date id="to" label-hint="Select To date" value="{{toDate}}" date-picker="[[datePicker]]"
              class="oj-form-control-max-width-sm" autocomplete="off" style="margin-top: 5px;"></oj-input-date>
      </div>
      <div class="oj-flex-item oj-flex oj-sm-12 oj-md-2 oj-md-padding-1x-horizontal">
        <oj-select-many 
          label-hint="Select Department"
          label-edge="inside" 
          options="[[departments]]" 
          value="{{department}}">
        </oj-select-many>
        <div style="color:red;">
          <oj-bind-text value="[[departmentMissing]]"></oj-bind-text>
      </div>
      </div>
      <div class="oj-flex-item oj-flex oj-sm-12 oj-md-2 oj-md-padding-1x-horizontal">
        <oj-select-many 
          label-hint="Select Category"
          label-edge="inside" 
          options="[[categories]]" 
          value="{{category}}">
        </oj-select-many>
        <div style="color:red;">
          <oj-bind-text value="[[categoryMissing]]"></oj-bind-text>
      </div>
      </div>
      <div class="oj-flex-item oj-flex oj-sm-12 oj-md-2 oj-md-padding-1x-horizontal">
        <oj-select-many 
          label-hint="Select Price Range"
          label-edge="inside" 
          options="[[priceFilterList]]" 
          value="{{priceFilter}}"
          on-value-changed="[[priceFilterCheck]]">
        </oj-select-many>
        <div style="color:red;">
          <oj-bind-text value="[[priceMissing]]"></oj-bind-text>
      </div>
      </div>
      <div class="oj-flex-item oj-flex oj-sm-12 oj-md-2 oj-md-padding-1x-horizontal">
        <oj-select-many 
          label-hint="Select Status"
          label-edge="inside" 
          options="[[statusFilterList]]" 
          value="{{statusFilter}}"
          on-value-changed="[[statusFilterCheck]]">
        </oj-select-many>
        <div style="color:red;">
          <oj-bind-text value="[[statusMissing]]"></oj-bind-text>
      </div>
      </div>
  </div>
  <br>
  <div class="oj-flex oj-md-justify-content-center" style="gap: 30px;padding-bottom:10px;">
    <oj-button id="show" chroming="borderless" on-oj-action="[[showData]]" 
        style="background-color: #6c5ffc;color: #fff;border-radius: 10px;">
        <span id="buttonText" style="color: #fff;"><i class="fa-solid fa-search"></i> Show</span>
    </oj-button>
    <oj-button id="export"chroming="borderless" on-oj-action="[[downloadExcel]]" 
        style="background-color: #34b53a;color: #fff;border-radius: 10px;">
        <span id="buttonText" style="color: #fff;"><i class="fa-solid fa-download"></i> Export</span>
    </oj-button>
</div>
<br>
<div style="display:none;" class="oj-panel oj-xl-margin-4x" id="actionView"> 
  <div class="oj-flex oj-sm-flex-items-initial oj-md-justify-content-flex-end">
    <div class="oj-flex-item oj-md-padding-2x-horizontal oj-sm-padding-2x-vertical">
        <oj-input-text id="filterReport" label-hint="Search" label-edge="inside"
        placeholder="Search.." on-raw-value-changed="[[handleValueAssetReport]]" value="{{filterReport}}" clear-icon="always">
        </oj-input-text>
    </div>
</div> 
    <div class="oj-flex oj-sm-justify-content-space-around oj-sm-align-items-center">
      <oj-table id='assetTable' aria-label='All Table' data='[[AssetReportList]]' display='list'
          selection-mode='{"row": "single"}'  columns='[
          { "headerText": "SL.No", "field": "slno", "id": "slno",
          "headerClassName" : "table-header-style"	 },
          { "headerText": "Asset No", "field": "asset_no", "id": "asset_no",
            "headerClassName" : "table-header-style"	 },
          { "headerClassName" : "table-header-style",
            "headerText": "Asset Name", "field": "asset_name", "id": "asset_name" },
          { "headerClassName" : "table-header-style",
            "headerText": "Category", "field": "category", "id": "category" },
          { "headerClassName" : "table-header-style",
            "headerText": "Department", "field": "department", "id": "department" },
          { "headerClassName" : "table-header-style",
            "headerText": "Owner Name", "field": "owner", "id": "owner_name" },
          { "headerClassName" : "table-header-style",
            "headerText": "Created Date", "field": "created_date", "id": "created_date" },
          { "headerClassName" : "table-header-style",
            "headerText": "Status", "field": "asset_status", "id": "asset_status", "template": "statusTemplate" },
          { "headerClassName" : "table-header-style",
            "headerText": "Total Amount", "field": "total_amount", "id": "total_amount", "template": "totalAmountTemplate", "headerTemplate": "totalAmountHeaderTemplate" }
          ]' style='width: 100%;' class="demo-table-container">
          <!-- <template slot="actionTemplate" data-oj-as="cell">
            <oj-bind-if test="[[cell.row.po_no  != null]]">
                <a :id="[[cell.row.asset_no]]" on-click= "[[goToAsset]]">
                  <oj-bind-text value="[[cell.row.asset_no]]"></oj-bind-text>
              </a>
            </oj-bind-if>
            <oj-bind-if test="[[cell.row.po_no  == null]]">
              <a :id="[[cell.row.asset_no]]" on-click= "[[goToAssetView]]">
                <oj-bind-text value="[[cell.row.asset_no]]"></oj-bind-text>
            </a>
          </oj-bind-if>
           </template> -->
           <template slot="totalAmountTemplate" data-oj-as="cell">
            <!-- Use the html binding to interpret the HTML content correctly -->
            <span data-bind="html: cell.row.total_amount"></span>
          </template>
          <template slot="totalAmountHeaderTemplate">
            <oj-bind-text value="[[totalAmountHeaderText]]"></oj-bind-text>
        </template>
        <template slot="statusTemplate" data-oj-as="cell">
          <oj-bind-if test="[[cell.row.asset_status == 'Active' ]]">
              <div class="oj-table-element-approve"><oj-bind-text value="[[cell.row.asset_status]]"></oj-bind-text></div>
          </oj-bind-if>
          <oj-bind-if test="[[cell.row.asset_status == 'Inactive' ]]">
              <div class="oj-table-element-reject"><oj-bind-text value="[[cell.row.asset_status]]"></oj-bind-text></div>
          </oj-bind-if>
        </template>
          </oj-table>
      </div>
      </div>
</div>
</div>



<div id="allAsset">
    <div class="oj-xl-margin-4x oj-flex oj-sm-flex-items-initial oj-md-justify-content-space-between" style="margin: 10px;padding: 10px;box-shadow: 0 0 10px #b9adad;border-radius: 10px;">
    <div class="oj-flex oj-sm-flex-items-initial oj-md-justify-content-flex-initial">
        <div class="oj-flex-item oj-md-padding-2x-horizontal oj-sm-padding-2x-vertical">
            <oj-input-text id="filter" label-hint="Search" label-edge="inside"
            placeholder="Search.." on-raw-value-changed="[[handleValueAsset]]" value="{{filter}}" clear-icon="always">
            </oj-input-text>
        </div>
      <!--   <div class="oj-flex-item oj-md-padding-2x-horizontal ">
          <oj-button chroming="solid"  on-oj-action="" class="oj-sm-padding-3x-vertical">
            Total Assets :
          </oj-button>
        </div> -->
    </div>
    <div class="oj-flex-item oj-md-padding-2x-horizontal ">
        <oj-button chroming="solid"  on-oj-action="[[addAsset]]" class="oj-sm-padding-3x-vertical">
          <i class="fa-solid fa-plus"></i>&nbsp;Add Asset
        </oj-button>
      </div>
    </div>
    
    <div class="oj-panel oj-xl-margin-4x" id="actionView"> 
      <div class="oj-flex oj-sm-justify-content-space-around oj-sm-align-items-center">
        <oj-table id='assetTable' aria-label='All Table' data='[[AssetList]]' display='list'
            selection-mode='{"row": "single"}'  columns='[
            { "headerText": "SL.No", "field": "slno", "id": "slno",
            "headerClassName" : "table-header-style"	 },
            { "headerText": "Asset No", "field": "asset_no", "id": "asset_no",
              "headerClassName" : "table-header-style", "template": "actionTemplate"	 },
            { "headerClassName" : "table-header-style",
              "headerText": "Asset Name", "field": "asset_name", "id": "asset_name" },
            { "headerClassName" : "table-header-style",
            "headerText": "PO No", "field": "po_no", "id": "po_no"},
            { "headerClassName" : "table-header-style",
            "headerText": "Product Name", "field": "product_name", "id": "product_name"},
            { "headerClassName" : "table-header-style",
            "headerText": "Status", "field": "asset_status", "id": "asset_status", "template": "statusTemplate" }
            ]' style='width: 100%;' class="demo-table-container">
            <template slot="actionTemplate" data-oj-as="cell">
              <oj-bind-if test="[[cell.row.po_no  != null]]">
                  <a :id="[[cell.row.asset_no]]" on-click= "[[goToAsset]]">
                    <oj-bind-text value="[[cell.row.asset_no]]"></oj-bind-text>
                </a>
              </oj-bind-if>
              <oj-bind-if test="[[cell.row.po_no  == null]]">
                <a :id="[[cell.row.asset_no]]" on-click= "[[goToAssetView]]">
                  <oj-bind-text value="[[cell.row.asset_no]]"></oj-bind-text>
              </a>
            </oj-bind-if>
             </template>
             <template slot="statusTemplate" data-oj-as="cell">
              <oj-bind-if test="[[cell.row.asset_status == 'Active' ]]">
                  <div class="oj-table-element-approve"><oj-bind-text value="[[cell.row.asset_status]]"></oj-bind-text></div>
              </oj-bind-if>
              <oj-bind-if test="[[cell.row.asset_status == 'Inactive' ]]">
                  <div class="oj-table-element-reject"><oj-bind-text value="[[cell.row.asset_status]]"></oj-bind-text></div>
              </oj-bind-if>
            </template>
            </oj-table>
        </div>
        </div>
</div>


    <oj-popup id="loaderPopup" class="demo-popup" auto-dismiss="none" modality="modal" position.my.horizontal="center"
        position.my.vertical="center" position.at.horizontal="center" position.at.vertical="center" position.of="window" tail="none">
        <div class="demo-popup-body">
            <div class="demo-popup-content oj-sm-padding-2x">
                <oj-progress-circle id="progressCircle" value="-1"></oj-progress-circle>
            </div>
        </div>
    </oj-popup>
    

<div class="centered-container" id="loaderView">
    <div class="loader"></div>
  </div> 


