<link rel="stylesheet" href="../../css/addStaff.css">
<div style="display:none;" id="contentView">
    <!---
    <div class="oj-flex oj-sm-justify-content-space-between oj-sm-align-items-center" style="width: 100%;padding: 10px;">
          <div><span class="hint-title"> <span class="icon-container"><i class="fas fa-user icon"></i></span>&nbsp;Edit Employee Details </span></div>
    </div> -->
</div>

<oj-bind-if test="[[userrole() != 'junior manager' && userrole() != 'junior hr' && userrole() != 'senior accounts']]">
<div class="oj-xl-margin-4x tab-bg-style" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="oj-flex oj-sm-justify-content-space-around oj-sm-align-items-center">
        <oj-buttonset-one id="setMultipleButtons" value="{{selectedTab}}" aria-label="Choose only one format">
        <oj-bind-for-each data="[[tabData]]">
        <template>
            <oj-option value="[[$current.data.id]]">
            <span>
                <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
            </span>
            </oj-option>
        </template>
        </oj-bind-for-each>
    </oj-buttonset-one>
    </div>
</div>
</oj-bind-if>

<oj-bind-if test="[[userrole() == 'junior manager']]">
    <div class="oj-xl-margin-4x tab-bg-style" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="oj-flex oj-sm-justify-content-space-around oj-sm-align-items-center">
            <oj-buttonset-one id="setMultipleButtons" value="{{selectedTab}}" aria-label="Choose only one format">
            <oj-bind-for-each data="[[tabData1]]">
            <template>
                <oj-option value="[[$current.data.id]]">
                <span>
                    <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                </span>
                </oj-option>
            </template>
            </oj-bind-for-each>
        </oj-buttonset-one>
        </div>
    </div>
</oj-bind-if>

<oj-bind-if test="[[userrole() == 'junior hr']]">
    <div class="oj-xl-margin-4x tab-bg-style" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="oj-flex oj-sm-justify-content-space-around oj-sm-align-items-center">
            <oj-buttonset-one id="setMultipleButtons" value="{{selectedTab}}" aria-label="Choose only one format">
            <oj-bind-for-each data="[[tabData2]]">
            <template>
                <oj-option value="[[$current.data.id]]">
                <span>
                    <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                </span>
                </oj-option>
            </template>
            </oj-bind-for-each>
        </oj-buttonset-one>
        </div>
    </div>
</oj-bind-if>

<oj-bind-if test="[[userrole() == 'senior accounts']]">
    <div class="oj-xl-margin-4x tab-bg-style" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="oj-flex oj-sm-justify-content-space-around oj-sm-align-items-center">
            <oj-buttonset-one id="setMultipleButtons" value="{{selectedTab}}" aria-label="Choose only one format">
            <oj-bind-for-each data="[[tabData3]]">
            <template>
                <oj-option value="[[$current.data.id]]">
                <span>
                    <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                </span>
                </oj-option>
            </template>
            </oj-bind-for-each>
        </oj-buttonset-one>
        </div>
    </div>
</oj-bind-if>
 
<div id="basic-info" style="margin-top: -10px;">
    <div class="oj-flex oj-xl-margin-4x">
        <oj-validation-group id="formValidation" class="form-container" role="group">
            <div id="form-container-employee" class="">
                <oj-form-layout id="personal-information" class="form" direction="row" max-columns="2">
                    <oj-input-text id="firstname" label-hint="First Name" required="true" value="{{firstName}}"></oj-input-text>
                    <oj-input-text id="middlename" label-hint="Middle Name" value="{{middleName}}"></oj-input-text>
                    <oj-input-text id="lastname" label-hint="Last Name" required="true" value="{{lastName}}"></oj-input-text>
                    <div class="oj-flex">
                        <div class="oj-flex-item oj-sm-5 oj-sm-padding-2x-end oj-md-padding-3x-end">
                            <oj-select-single required id="nearestOffice" label-hint="Country Code" label-edge="inside"
                                data="[[countryCodes]]" value="{{countryCode}}"></oj-select-single>
                        </div>
                        <div class="oj-flex-item oj-sm-7 oj-sm-padding-2x-start oj-md-padding-3x-start">
                            <oj-input-text id="phone" label-hint="Phone" required="true" value="{{phone}}" length.max="10" on-value-changed="[[phoneValidator]]"></oj-input-text>
                        </div>
                        <div class="oj-text-color-danger"><oj-bind-text value='[[phoneError]]'></oj-bind-text></div></br>
                    </div>
                    <div>
                        <oj-input-text id="email" label-hint="Email" required="true" value="{{email}}" on-value-changed="[[emailPatternValidator]]"></oj-input-text>
                        <div class="oj-text-color-danger"><oj-bind-text value='[[emailError]]'></oj-bind-text></div></br>
                    </div>
                    <oj-select-single required id="Nationality" label-hint="Nationality" label-edge="inside"
                    data="[[nationList]]" value="{{nationality}}"></oj-select-single>
                    <oj-input-date id="birth_day" label-hint="Birth Day" required="true" value="{{birth_day}}"></oj-input-date>
                    <oj-radioset id="rowDirectionEnabledRadioset" value="{{gender}}" class="oj-choice-direction-row" label-hint="Gender">
                        <oj-option value="male">Male</oj-option>
                        <oj-option value="female">Female</oj-option>
                        <oj-option value="others">Others</oj-option>
                    </oj-radioset>
                    <oj-select-single id="qualification" label-hint="Qualification" label-edge="inside"
                    data="[[qualificationList]]" value="{{qualification}}"></oj-select-single>

                    <oj-bind-if test="[[userrole() != 'employee']]">
                        <oj-combobox-one 
                            id="department" 
                            label-hint="Department" 
                            label-edge="inside" 
                            required="true" 
                            class="oj-form-control-max-width-md" 
                            value="{{department}}"  
                            options="[[departmentList]]"  
                            on-value-changed="[[getDesignationList]]">
                        </oj-combobox-one>
                    </oj-bind-if>
                    
                    <oj-bind-if test="[[userrole() == 'employee']]">
                        <oj-combobox-one 
                            id="department" 
                            label-hint="Department" 
                            label-edge="inside" 
                            required="true" 
                            class="oj-form-control-max-width-md" 
                            value="{{department}}"  
                            options="[[departmentList]]"  
                            on-value-changed="[[getDesignationList]]" 
                            readonly="true">
                        </oj-combobox-one>
                    </oj-bind-if>

                    <oj-bind-if test="[[userrole() != 'employee']]">
                        <oj-combobox-one 
                            id="designation" 
                            label-hint="Designation" 
                            label-edge="inside" 
                            required="true" 
                            class="oj-form-control-max-width-md" 
                            value="{{designation}}"  
                            options="[[designationList]]">
                        </oj-combobox-one>
                    </oj-bind-if>
                    
                    <oj-bind-if test="[[userrole() == 'employee']]">
                        <oj-combobox-one 
                            id="designation" 
                            label-hint="Designation" 
                            label-edge="inside" 
                            required="true" 
                            class="oj-form-control-max-width-md" 
                            value="{{designation}}"  
                            options="[[designationList]]" 
                            readonly="true">
                        </oj-combobox-one>
                    </oj-bind-if>
                    
                    <!-- Roles Combobox -->
                    <oj-bind-if test="[[userrole() != 'employee' && userrole() != 'junior manager' 
                    && userrole() != 'junior hr' && userrole() != 'senior accounts']]">
                        <oj-combobox-one 
                            id="roles" 
                            label-hint="Roles" 
                            label-edge="inside" 
                            required="true" 
                            class="oj-form-control-max-width-md" 
                            value="{{roles}}" 
                            options="[[rolesList]]">
                        </oj-combobox-one>
                    </oj-bind-if>

                    <oj-bind-if test="[[userrole() == 'employee' || userrole() == 'junior manager' 
                    || userrole() == 'junior hr' || userrole() == 'senior accounts']]">
                        <oj-combobox-one 
                            id="roles" 
                            label-hint="Roles" 
                            label-edge="inside" 
                            required="true" 
                            class="oj-form-control-max-width-md" 
                            value="{{roles}}" 
                            options="[[rolesList]]" 
                            readonly="true">
                        </oj-combobox-one>
                    </oj-bind-if>

                    <!-- Line Manager Combobox -->
                    <oj-bind-if test="[[userrole() != 'employee']]">
                        <oj-combobox-one 
                            id="line_manager" 
                            label-hint="Line Manager" 
                            label-edge="inside" 
                            class="oj-form-control-max-width-md" 
                            value="{{line_manager}}" 
                            options="[[employeeList]]">
                        </oj-combobox-one>
                    </oj-bind-if>

                    <oj-bind-if test="[[userrole() == 'employee']]">
                        <oj-combobox-one 
                            id="line_manager" 
                            label-hint="Line Manager" 
                            label-edge="inside" 
                            class="oj-form-control-max-width-md" 
                            value="{{line_manager}}" 
                            options="[[employeeList]]" 
                            readonly="true">
                        </oj-combobox-one>
                    </oj-bind-if>

                    <!-- Joining Date Input Date -->
                    <oj-bind-if test="[[userrole() != 'employee']]">
                        <oj-input-date 
                            id="joining_date" 
                            label-hint="Joining Date" 
                            required="true" 
                            value="{{joining_date}}">
                        </oj-input-date>
                    </oj-bind-if>

                    <oj-bind-if test="[[userrole() == 'employee']]">
                        <oj-input-date 
                            id="joining_date" 
                            label-hint="Joining Date" 
                            required="true" 
                            value="{{joining_date}}" 
                            readonly="true">
                        </oj-input-date>
                    </oj-bind-if>

                    <!-- Employee Type Select Single -->
                    <oj-bind-if test="[[userrole() != 'employee']]">
                        <oj-select-single 
                            id="employment_type" 
                            label-hint="Employment Type" 
                            label-edge="inside" 
                            data="[[employee_type_List]]" 
                            value="{{employee_type}}">
                        </oj-select-single>
                    </oj-bind-if>

                    <oj-bind-if test="[[userrole() == 'employee']]">
                        <oj-select-single 
                            id="employment_type" 
                            label-hint="Employment Type" 
                            label-edge="inside" 
                            data="[[employee_type_List]]" 
                            value="{{employee_type}}" 
                            readonly="true">
                        </oj-select-single>
                    </oj-bind-if>

                    <!-- Termination Date Input Date -->
                    <oj-bind-if test="[[userrole() != 'employee']]">
                        <oj-input-date 
                            id="termination_date" 
                            label-hint="Termination Date" 
                            value="{{termination_date}}">
                        </oj-input-date>
                    </oj-bind-if>
                    
                    <oj-bind-if test="[[userrole() == 'employee']]">
                        <oj-input-date 
                            id="termination_date" 
                            label-hint="Termination Date" 
                            value="{{termination_date}}" 
                            readonly="true">
                        </oj-input-date>
                    </oj-bind-if>

                    <oj-input-text id="emergency_contact_person" label-hint="Emergency Contact Person Name" value="{{emergency_contact_person}}"></oj-input-text>
                    <oj-select-single id="emergency_contact_relation" label-hint="Emergency Contact Person Relationship" label-edge="inside"
                    data="[[relationList]]" value="{{emergency_contact_relation}}"></oj-select-single>  
                    <div class="oj-flex">
                        <div class="oj-flex-item oj-sm-5 oj-sm-padding-2x-end oj-md-padding-3x-end">
                            <oj-select-single id="emergencyCountryCode" label-hint="Emergency Country Code" label-edge="inside"
                                data="[[countryCodes]]" value="{{emergencyCountryCode}}"></oj-select-single>
                        </div>
                        <div class="oj-flex-item oj-sm-7 oj-sm-padding-2x-start oj-md-padding-3x-start">
                            <oj-input-text id="emergencyPhone" label-hint="Emergency Phone" value="{{emergencyPhone}}" length.max="10" on-value-changed="[[emergencyPhoneValidator]]"></oj-input-text>
                        </div>
                        <div class="oj-text-color-danger"><oj-bind-text value='[[emergencyPhoneError]]'></oj-bind-text></div></br>
                    </div> 
                    <div>
                        <oj-input-text id="emergencyEmail" label-hint="Emergency Email" value="{{emergencyEmail}}" on-value-changed="[[emergencyEmailPatternValidator]]"></oj-input-text>
                        <div class="oj-text-color-danger"><oj-bind-text value='[[emergencyEmailError]]'></oj-bind-text></div></br>
                    </div>
                    <oj-text-area id="address" value="{{address}}" label-hint="Address" raw-valuenewE=""
                    rows="3" clear-icon="always">
                    </oj-text-area>
                    <div class="oj-flex">
                        <div class="oj-flex-item oj-sm-3 oj-sm-padding-2x-end oj-md-padding-3x-end" style="padding-top:10px">
                            <oj-avatar
                            role="img"
                            src="[[profilePhotoShow]]"
                            :title="Profile Photo">
                            </oj-avatar>      
                        </div>
                        <div class="oj-flex-item oj-sm-9 oj-sm-padding-2x-start oj-md-padding-3x-start">
                            <oj-file-picker  id="profilePhoto" class="demo-max-width" primary-text="Profile Photo"
                            secondary-text="[[secondaryText]]" on-oj-select="[[uploadProfilePhoto]]">
                            </oj-file-picker>
                            <div class="oj-text-color-danger"><oj-bind-text value='[[typeError]]'></oj-bind-text></div></br>                    
                        </div>
                    </div> 
                </oj-form-layout>
                <div class="oj-flex">
                    <div class="oj-flex-item oj-sm-6 oj-sm-padding-2x-end oj-md-padding-12x-end">
                        <oj-button id="save" chroming="solid" on-oj-action="[[formSubmit]]"><i class="fas fa-save"></i> Update</oj-button>
                    </div>
                </div>
            </div>
        </oj-validation-group>
    </div>
</div>

<div id="update-password" class="oj-xl-margin-4x" style="display:none;">
    <div class="oj-panel oj-flex oj-xl-margin-4x" style="box-shadow: 0 0 10px #b9adad; border-radius: 10px;">
        <div style="margin-top: 13px;">
            <span class="sub-hint-title"> <span class="icon-container">
            <i class="oj-ux-ico-reset-password sub-icon"></i></span>&nbsp;<b>Update Password</b> </span><span class="sub-hint-note">(The username will automatically be set to match the email address. If the email is changed, the username will be updated accordingly.)</span>
        </div>
        <div class="oj-flex-item oj-sm-padding-2x-horizontal">
            <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-flex-end">
            <div class="oj-flex-item oj-sm-padding-2x-horizontal">
                <oj-button chroming="solid" class="oj-xl-margin-4x send-mail-btn  oj-sm-margin-4x" on-oj-action="[[sendCredentials]]">
                    <span  slot="startIcon" style="color:white" class="oj-ux-ico-email"></span><span style="color:white"> Send Credentials</span>
                </oj-button>
            </div>
            </div>
        </div>
    </div>
    <div id="form-container-employee" class="">  
        <oj-form-layout id="personal-information" class="form" direction="row" max-columns="2">
            <oj-input-text id="username" label-hint="Username" required="true" value="{{username}}" disabled></oj-input-text>
            <oj-input-text id="password" label-hint="Password" required="true" value="{{password}}"></oj-input-text>
        </oj-form-layout>
        <div class="oj-flex">
            <div class="oj-flex-item oj-sm-6 oj-sm-padding-2x-end oj-md-padding-12x-end">
                <oj-button id="save" chroming="solid" on-oj-action="[[crediantialUpdate]]"><i class="fas fa-save"></i> Update</oj-button>
            </div>
        </div>
    </div>
</div>


<div id="documents" style="margin-top: 10px;">
<oj-bind-if test="[[userrole() != 'junior hr']]">
    <div class="oj-flex oj-panel oj-xl-margin-4x" style="box-shadow: 0 0 10px #b9adad;border-radius: 10px;">
        <div class="oj-flex-item" style="margin-top:  -30px; margin-bottom: -50px;">
            <oj-validation-group id="formValidation2" class="form-container" role="group">
                <div id="form-container" class="">
                    <oj-form-layout id="document" class="form" direction="row" max-columns="3">
                        <oj-input-text id="document"  label-hint="Document Name" required="true" value="{{documentName}}"></oj-input-text>
                        <div class="">
                            <div class="oj-flex-item">
                                <oj-file-picker  id="documentUpload" style="margin-top: -10px;" class="demo-max-width custom-input" primary-text="Upload"
                                secondary-text="[[documentText]]" on-oj-select="[[documentUpload]]">
                                </oj-file-picker>
                                <div class="oj-text-color-danger"><oj-bind-text value='[[typeError2]]'></oj-bind-text></div></br>                    
                            </div>
                        </div> 
                    
                    <div class="">
                        <div class="oj-flex-item">
                            <oj-button id="save" chroming="solid" on-oj-action="[[formSubmit2]]"><i class="fas fa-save"></i> Submit</oj-button>
                        </div>
                    </div>
                </oj-form-layout>
                </div>
            </oj-validation-group>
        </div>
    </div>    
</oj-bind-if>

    <div class="oj-flex oj-sm-flex-items-initial oj-md-justify-content-flex-end" style="margin-top: 10px; margin-bottom: -25px;">
        <div class="oj-flex-item oj-md-padding-2x-horizontal oj-sm-padding-2x-vertical">
          <oj-input-text id="filter" label-hint="Search" label-edge="inside"
            placeholder="Search.." on-raw-value-changed="[[handleValueDocuments]]" value="{{filter}}" clear-icon="always">
          </oj-input-text>
        </div>
    </div>
  
    <!-- Table container -->
    <div class="oj-table-color oj-sm-padding-4x-horizontal oj-sm-padding-8x-vertical" style="display:none;" id="document_view">
    <oj-table class="oj-panel" id="documentTable" aria-label="All Table" accessibility.row-header="name" data="[[documentData]]"
        columns-default.sortable="enabled" layout="fixed"
        columns='[
            {"headerClassName" : "table-header-style","headerText": "SL.No", "id": "no"},
            {"headerClassName" : "table-header-style","headerText": "Document Name", "id": "document_name"}, 
            {"headerClassName" : "table-header-style","headerText": "View", "id": "document_link"},
            {"headerClassName" : "table-header-style","headerText": "Uploaded Date", "id": "uploaded_date"},
            {"headerClassName" : "table-header-style","headerText": "Uploaded By", "id": "uploaded_by"},
            {"headerClassName" : "table-header-style","headerText": "Role", "id": "user_role"},
            {"headerClassName" : "table-header-style","headerText": "Action", "id": "action","sortable": "disabled"}
        ]'
        class="demo-table-container" style='width: 100%;'>
        
        <template slot="rowTemplate" data-oj-as="row">
            <tr>
                <td><oj-bind-text value="[[row.data.no]]"></oj-bind-text></td>
                <td><oj-bind-text value="[[row.data.document_name]]"></oj-bind-text></td>
                <td>
                    <a :data-document-link="[[row.data.document_link]]" on-click="[[previewClick]]" target="_blank" style="color:#6a73fa">
                        <i class="fa-solid fa-eye" style="font-size: 20px;"></i>
                    </a>
                </td>
                <td><oj-bind-text value="[[row.data.uploaded_date]]"></oj-bind-text></td>
                <td><oj-bind-text value="[[row.data.uploaded_by]]"></oj-bind-text></td>
                <td><oj-bind-text value="[[row.data.user_role]]"></oj-bind-text></td>
                <td>
                    <oj-bind-if test="[[userrole() != 'junior hr']]">
                        <oj-button chroming="borderless" display="icons" on-oj-action="[[deleteDocument]]">
                            <span slot="startIcon" class="fa-solid fa-trash delete-btn"></span>
                            Delete
                        </oj-button>
                    </oj-bind-if>
                </td>
            </tr>
        </template>
    </oj-table> 
    </div>
</div>

<div id="employment" style="margin-top: 20px;">

    <div id="employment-grid" class="employment-flex employment-flex-wrap">
        <div class="employment-flex-item employment-sm-6">
            <oj-accordion id="a1">
                <oj-collapsible id="c1" style="background-color: #ffffff; box-shadow: 0 0 5px #b9adad;border-radius: 5px;">
                    <h3 slot="header" style="color: #6c5ffc;">Contract Information</h3>
                    <div style="margin-left: 580px; margin-top: -10px; margin-bottom: -20px;">
                    <oj-bind-if test="[[userrole() !== 'employee']]">
                        <oj-button
                            chroming="borderless"
                            display="icons"
                            on-oj-action="[[EditContract]]">
                            <span slot="startIcon"  class="fa-solid fa-edit edit-btn"></span>
                            Edit
                        </oj-button>
                    </oj-bind-if>
                    </div>
                    <div>
                        <p><strong>Employment Type: </strong><oj-bind-text value="[[employment_type]]"></oj-bind-text></p>
                        <p><strong>Contract Start Date: </strong><oj-bind-text value="[[contract_start]]"></oj-bind-text></p>
                        <p><strong>Working Time Pattern: </strong><oj-bind-text value="[[work_pattern]]"></oj-bind-text></p>
                        <p><strong>Contracted Hours Per Week: </strong><oj-bind-text value="[[contract_hour]]"></oj-bind-text></p>
                        <p><strong>Annual Leave Year Start: </strong><oj-bind-text value="[[leave_start]]"></oj-bind-text></p>
                        <p><strong>Min.Leave Entitlement: </strong><oj-bind-text value="[[min_leave]]"></oj-bind-text></p>
                        <p><strong>Annual Leave Balance: </strong><oj-bind-text value="[[leave_balance]]"></oj-bind-text></p>
                    </div>
                </oj-collapsible>
            </oj-accordion>
        </div>
        <div class="employment-flex-item employment-sm-6">
            <oj-accordion id="a2">
                <oj-collapsible id="c2" style="background-color: #ffffff; box-shadow: 0 0 5px #b9adad;border-radius: 5px;">
                    <h3 slot="header" style="color: #6c5ffc;">Salary Information</h3>
                    <div style="margin-left: 580px; margin-top: -10px; margin-bottom: -20px;">
                    <oj-bind-if test="[[userrole() !== 'employee']]">
                        <oj-button
                            chroming="borderless"
                            display="icons"
                            on-oj-action="[[EditSalary]]">
                            <span slot="startIcon"  class="fa-solid fa-edit edit-btn"></span>
                            Edit
                        </oj-button>
                    </oj-bind-if>
                    </div>
                    <div>
                        <p><strong>Amount/Rate: </strong><oj-bind-text value="[[amount]]"></oj-bind-text></p>
                        <p><strong>Hourly Rate: </strong><oj-bind-text value="[[hourly_rate]]"></oj-bind-text></p>
                        <p><strong>Payment Frequency: </strong><oj-bind-text value="[[payment_frequency]]"></oj-bind-text></p>
                        <p><strong>Effective Date: </strong><oj-bind-text value="[[effective_date]]"></oj-bind-text></p>
                    </div>
                </oj-collapsible>
            </oj-accordion>
        </div>
    </div>

    <div id="employment-grid" class="employment-flex employment-flex-wrap">
        <div class="employment-flex-item employment-sm-6">
            <oj-accordion id="a3">
                <oj-collapsible id="c3" style="background-color: #ffffff; box-shadow: 0 0 5px #b9adad;border-radius: 5px;">
                    <h3 slot="header" style="color: #6c5ffc;">Employment Summary</h3>
                    <div style="margin-left: 580px; margin-top: -10px; margin-bottom: -20px;">
                    <oj-bind-if test="[[userrole() !== 'employee']]">
                        <oj-button
                            chroming="borderless"
                            display="icons"
                            on-oj-action="[[EditEmploymentSummary]]">
                            <span slot="startIcon" class="fa-solid fa-edit edit-btn"></span>
                            Edit
                        </oj-button>
                    </oj-bind-if>
                    </div>
                    <div>
                        <p><strong>Joining Date: </strong><oj-bind-text value="[[joining_date2]]"></oj-bind-text></p>
                        <p><strong>Termination Date: </strong><oj-bind-text value="[[termination_date2]]"></oj-bind-text></p>
                    </div>
                </oj-collapsible>
            </oj-accordion>
        </div>
        <div class="employment-flex-item employment-sm-6">
            <oj-accordion id="a4">
                <oj-collapsible id="c4" style="background-color: #ffffff; box-shadow: 0 0 5px #b9adad;border-radius: 5px;">
                    <h3 slot="header" style="color: #6c5ffc;">Payroll Information</h3>
                    <div style="margin-left: 580px; margin-top: -10px; margin-bottom: -20px;">
                    <oj-bind-if test="[[userrole() !== 'employee']]">
                        <oj-button
                            chroming="borderless"
                            display="icons"
                            on-oj-action="[[EditPayroll]]">
                            <span slot="startIcon" class="fa-solid fa-edit edit-btn"></span>
                            Edit
                        </oj-button>
                    </oj-bind-if>
                    </div>
                    <div>
                        <p><strong>Payroll Number: </strong><oj-bind-text value="[[payroll_number]]"></oj-bind-text></p>
                        <p><strong>Pension Eligible: </strong><oj-bind-text value="[[pension_eligible]]"></oj-bind-text></p>
                    </div>
                </oj-collapsible>
            </oj-accordion>
        </div>
    </div>

    <div id="employment-grid" class="employment-flex employment-flex-wrap">
        <div class="employment-flex-item employment-sm-6">
            <oj-accordion id="a5">
                <oj-collapsible id="c5" style="background-color: #ffffff; box-shadow: 0 0 5px #b9adad;border-radius: 5px;">
                    <h3 slot="header" style="color: #6c5ffc;">Role Information</h3>
                    <div style="margin-left: 580px; margin-top: -10px; margin-bottom: -20px;">
                    <oj-bind-if test="[[userrole() !== 'employee']]">
                        <oj-button
                            chroming="borderless"
                            display="icons"
                            on-oj-action="[[EditRoleInformation]]">
                            <span slot="startIcon" class="fa-solid fa-edit edit-btn"></span>
                            Edit
                        </oj-button>
                    </oj-bind-if>
                    </div>
                    <div>
                        <p><strong>Job Title: </strong><oj-bind-text value="[[job_title]]"></oj-bind-text></p>
                        <p><strong>Contract Type: </strong><oj-bind-text value="[[contract_type]]"></oj-bind-text></p>
                        <p><strong>Team(s): </strong><oj-bind-text value="[[teams]]"></oj-bind-text></p>
                        <p><strong>Report to: </strong><oj-bind-text value="[[report_to2]]"></oj-bind-text></p>
                        <p><strong>Probation Details: </strong><oj-bind-text value="[[probation_details]]"></oj-bind-text></p>
                        <p><strong>Notice Period: </strong><oj-bind-text value="[[notice_period]]"></oj-bind-text></p>
                    </div>
                </oj-collapsible>
            </oj-accordion>
        </div>
        <div class="employment-flex-item employment-sm-6">
            <oj-accordion id="a6">
                <oj-collapsible id="c6" style="background-color: #ffffff; box-shadow: 0 0 5px #b9adad;border-radius: 5px;">
                    <h3 slot="header" style="color: #6c5ffc;">Bank Details</h3>
                    <div style="margin-left: 580px; margin-top: -10px; margin-bottom: -20px;">
                        <oj-button
                            chroming="borderless"
                            display="icons"
                            on-oj-action="[[EditBank]]">
                            <span slot="startIcon" class="fa-solid fa-edit edit-btn"></span>
                            Edit
                        </oj-button>
                    </div>
                    <div>
                        <p><strong>Name on Account: </strong><oj-bind-text value="[[name_on_account]]"></oj-bind-text></p>
                        <p><strong>Name of Bank: </strong><oj-bind-text value="[[name_of_bank]]"></oj-bind-text></p>
                        <p><strong>Bank Branch: </strong><oj-bind-text value="[[bank_branch]]"></oj-bind-text></p>
                        <p><strong>Account Number: </strong><oj-bind-text value="[[account_number]]"></oj-bind-text></p>
                        <p><strong>Sort Code: </strong><oj-bind-text value="[[sort_code]]"></oj-bind-text></p>
                    </div>
                </oj-collapsible>
            </oj-accordion>
        </div>
    </div>

    <div id="employment-grid" class="employment-flex employment-flex-wrap">
        <div class="employment-flex-item employment-sm-6">
            <oj-accordion id="a7">
                <oj-collapsible id="c5" style="background-color: #ffffff; box-shadow: 0 0 5px #b9adad;border-radius: 5px;">
                    <h3 slot="header" style="color: #6c5ffc;">Work Location</h3>
                    <div style="margin-left: 580px; margin-top: -10px; margin-bottom: -20px;">
                    <oj-button
                        chroming="borderless"
                        display="icons"
                        on-oj-action="[[openEditWorkLocation]]">
                        <span slot="startIcon" class="fa-solid fa-edit edit-btn"></span>
                        Edit
                    </oj-button>
                    </div>
                    <div>
                        <p><strong>Work Location: </strong><oj-bind-text value="[[work_location]]"></oj-bind-text></p>
                    </div>
                </oj-collapsible>
            </oj-accordion>
        </div>
    </div>

</div>

<div id="absence" class="oj-xl-margin-4x" style="display:none;">

    <div class="oj-panel oj-flex oj-xl-margin-4x" style="box-shadow: 0 0 10px #b9adad; border-radius: 10px;">
        <div class="oj-flex-item oj-md-padding-2x-horizontal oj-sm-padding-2x-vertical">
            <oj-combobox-one id="yearFilterLeave" label-hint="Select Year" class="oj-sm-padding-2x-vertical"
            label-edge="inside" options="[[yearList]]" value="{{yearFilter}}" on-value-changed="[[filterYear]]">
            </oj-combobox-one>

            <oj-button id="save" chroming="solid"  class="oj-sm-padding-3x-vertical oj-md-padding-4x-horizontal">            
            <h9 class="oj-xl-margin-4x"><i class="fa-solid fa">
            </i>&nbsp;Leave Taken : <oj-bind-text value="[[leaveTaken]]"></oj-bind-text></h9></oj-button>

            <oj-button id="save" chroming="solid"  class="oj-sm-padding-3x-vertical">            
            <h9 class="oj-xl-margin-4x"><i class="fa-solid fa">
            </i>&nbsp;Leave Remaining : <oj-bind-text value="[[leaveRemaining]]"></oj-bind-text></h9></oj-button>
        </div>
        <div class="oj-flex oj-sm-flex-items-initial oj-md-justify-content-flex-end">
            <div class="oj-flex-item oj-md-padding-2x-horizontal oj-sm-padding-2x-vertical">
                <oj-input-text id="searchFilter2" label-hint="Search" class="oj-sm-padding-2x-vertical"
                label-edge="inside" placeholder="Search.." on-raw-value-changed="[[handleValue]]"
                value="{{filter2}}" clear-icon="always">
                </oj-input-text>
            </div>
        </div>
    </div>

    <div class="oj-flex oj-sm-justify-content-space-around oj-sm-align-items-center" style="margin-top: 25px;">
        <oj-table id='leaveTable' aria-label='All Table' data='[[LeaveData]]' display='list'
            selection-mode='{"row": "single"}'  columns='[
            { "headerClassName" : "table-header-style",
            "headerText": "SL.No", "field": "no", "id": "no", "maxWidth" : "8rem" },
            { "headerClassName" : "table-header-style",
            "headerText": "Start Date", "field": "start_date", "id": "start_date" },
            { "headerClassName" : "table-header-style",
            "headerText": "End Date", "field": "end_date", "id": "end_date" },
            { "headerClassName" : "table-header-style",
            "headerText": "Leave reason", "field": "leave_type", "id": "leave_type" },
            { "headerClassName" : "table-header-style",
            "headerText": "Leave Type", "field": "leave_reason", "id": "leave_reason" },
            { "headerClassName" : "table-header-style",
            "headerText": "Status", "field": "status", "id": "status", "template": "bgTemplate" }
            ]' style='width: 100%;' class="demo-table-container">
            <template slot="actionTemplate" data-oj-as="cell">
 
            </template>
            <template slot="bgTemplate" data-oj-as="cell">
                <oj-bind-if test="[[cell.row.status == 'Pending' ]]">
                    <div class="oj-table-element-pending"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                </oj-bind-if>
                <oj-bind-if test="[[cell.row.status == 'Reject' ]]">
                    <div class="oj-table-element-reject"><oj-bind-text value="Rejected"></oj-bind-text></div>
                </oj-bind-if>
                <oj-bind-if test="[[cell.row.status == 'Approve' ]]">
                    <div class="oj-table-element-approve"><oj-bind-text value="Approved"></oj-bind-text></div>
                </oj-bind-if>
            </template>
        </oj-table>
    </div>

</div>

<oj-dialog id="openEditSalary" class="popupGoal" dialog-title="Edit Salary" modality="modeless" drag-affordance="title-bar"
    cancel-behavior="[[CancelBehaviorOpt]]">
    <oj-validation-group id="formValidation3" class="form-container" role="group" style="padding-bottom: 50px;">
      <div id="form-container">
        <oj-form-layout id="salary-information" class="form" direction="row" max-columns="1">
          <oj-input-text id="amount" label-hint="Amount/Rate" required="true" value="{{amount}}"></oj-input-text>
          <oj-input-text id="hourly_rate" label-hint="Hourly Rate" value="{{hourly_rate}}"></oj-input-text>
          <oj-input-text id="payment_frequency" label-hint="Payment Frequency" value="{{payment_frequency}}"></oj-input-text>
          <oj-input-date id="effective_date" label-hint="Effective Date" value="{{effective_date}}"></oj-input-date>
        </oj-form-layout>
        <oj-button id="save" chroming="solid" on-oj-action="[[formSubmit3]]"><i class="fas fa-save"></i> Update</oj-button>
      </div>
  </oj-validation-group>
</oj-dialog>

<oj-dialog id="openEditBank" class="popupGoal" dialog-title="Edit Bank Details" modality="modeless" drag-affordance="title-bar"
    cancel-behavior="[[CancelBehaviorOpt]]">
    <oj-validation-group id="formValidation4" class="form-container" role="group" style="padding-bottom: 50px;">
      <div id="form-container">
        <oj-form-layout id="salary-information" class="form" direction="row" max-columns="1">
          <oj-input-text id="name_on_account" label-hint="Name on Account" required="true" value="{{name_on_account}}"></oj-input-text>
          <oj-input-text id="name_of_bank" label-hint="Name of Bank" required="true" value="{{name_of_bank}}"></oj-input-text>
          <oj-input-text id="bank_branch" label-hint="Bank Branch" required="true" value="{{bank_branch}}"></oj-input-text>
          <oj-input-text id="account_number" label-hint="Account Number" required="true" value="{{account_number}}"></oj-input-text>
          <oj-input-text id="sort_code" label-hint="Sort/IFSC Code" required="true" value="{{sort_code}}"></oj-input-text>
        </oj-form-layout>
        <oj-button id="save" chroming="solid" on-oj-action="[[formSubmit4]]"><i class="fas fa-save"></i> Update</oj-button>
      </div>
  </oj-validation-group>
</oj-dialog>

<oj-dialog id="openEditPayroll" class="popupGoal" dialog-title="Edit Payroll Details" modality="modeless" drag-affordance="title-bar"
    cancel-behavior="[[CancelBehaviorOpt]]">
    <oj-validation-group id="formValidation5" class="form-container" role="group" style="padding-bottom: 50px;">
        <div id="form-container">
            <oj-form-layout id="payroll-information" class="form" direction="row" max-columns="1">
                <oj-input-text id="payroll_number" label-hint="Payroll Number" required="true" value="{{payroll_number}}"></oj-input-text>
                <oj-input-text id="pension_eligible" label-hint="Pension Eligible" value="{{pension_eligible}}"></oj-input-text>
            </oj-form-layout>
            <oj-button id="save" chroming="solid" on-oj-action="[[formSubmit5]]"><i class="fas fa-save"></i> Update</oj-button>
        </div>
    </oj-validation-group>
</oj-dialog>

<oj-dialog id="openEditEmploymentSummary" class="popupGoal" dialog-title="Edit Employment Summary" modality="modeless" drag-affordance="title-bar"
    cancel-behavior="[[CancelBehaviorOpt]]">
    <oj-validation-group id="formValidation6" class="form-container" role="group" style="padding-bottom: 50px;">
        <div id="form-container">
            <oj-form-layout id="employement-summary-information" class="form" direction="row" max-columns="1">
                <oj-input-date id="joining_date" label-hint="Joining Date" value="{{joining_date2}}"></oj-input-date>
                <oj-input-date id="termination_date" label-hint="Termination Date" value="{{termination_date2}}"></oj-input-date>
            </oj-form-layout>
            <oj-button id="save" chroming="solid" on-oj-action="[[formSubmit6]]"><i class="fas fa-save"></i> Update</oj-button>
        </div>
    </oj-validation-group>
</oj-dialog>

<oj-dialog id="openEditRoleInformation" class="popupGoal" dialog-title="Edit Role Information" modality="modeless" drag-affordance="title-bar"
    cancel-behavior="[[CancelBehaviorOpt]]">
    <oj-validation-group id="formValidation7" class="form-container" role="group" style="padding-bottom: 50px;">
        <div id="form-container">
            <oj-form-layout id="role-information-form" class="form" direction="row" max-columns="1">
                <oj-input-text id="job_title" label-hint="Job Title" value="{{job_title}}"></oj-input-text>
                <oj-select-single id="contract_type" label-hint="Contract Type" label-edge="inside" data="[[employee_type_List2]]" value="{{contract_type}}"></oj-select-single>
                <oj-combobox-many
                id="select1"
                value="{{report_to}}"
                options="{{employer_List}}"
                label-edge="inside"
                label-hint="Report to"
                class="oj-form-control-max-width-md">      
                </oj-combobox-many>
                <oj-input-text id="probation_details" label-hint="Probation Details" value="{{probation_details}}"></oj-input-text>
                <oj-input-text id="notice_period" label-hint="Notice Period" value="{{notice_period}}"></oj-input-text>
            </oj-form-layout>
            <oj-button id="saveRoleInformation" chroming="solid" on-oj-action="[[formSubmit7]]"><i class="fas fa-save"></i> Update</oj-button>
        </div>
    </oj-validation-group>
</oj-dialog>

<oj-dialog id="openEditContract" class="popupGoal" dialog-title="Edit Contract" modality="modeless" drag-affordance="title-bar"
    cancel-behavior="[[CancelBehaviorOpt]]">
    <oj-validation-group id="formValidation8" class="form-container" role="group" style="padding-bottom: 50px;">
      <div id="form-container">
        <oj-form-layout id="contract-information" class="form" direction="row" max-columns="1">
          <oj-input-date id="contract_start" label-hint="Contract Start Date" value="{{contract_start2}}"></oj-input-date>
          <oj-select-single id="work_pattern" label-hint="Work Pattern" 
          label-edge="inside" data="[[WorkPatternList2]]" value="{{work_pattern2}}"></oj-select-single>
          <oj-input-text id="min_leave" label-hint="Min.Leave Entitlement (Days)" value="{{min_leave2}}"></oj-input-text>
        </oj-form-layout>
        <oj-button id="save" chroming="solid" on-oj-action="[[formSubmit8]]"><i class="fas fa-save"></i> Update</oj-button>
      </div>
  </oj-validation-group>
</oj-dialog>

<oj-dialog id="openEditWorkLocation" class="popupGoal" dialog-title="Edit Work Location" modality="modeless" drag-affordance="title-bar"
    cancel-behavior="[[CancelBehaviorOpt]]">
    <oj-validation-group id="formValidation9" class="form-container" role="group" style="padding-bottom: 50px;">
        <div id="form-container">
            <oj-form-layout id="location-information-form" class="form" direction="row" max-columns="1">
                <oj-input-text id="work_location" label-hint="Work Location" value="{{work_location2}}"></oj-input-text>
            </oj-form-layout>
            <oj-button id="saveworkLocation" chroming="solid" on-oj-action="[[formSubmit9]]"><i class="fas fa-save"></i> Update</oj-button>
        </div>
    </oj-validation-group>
</oj-dialog>

<oj-popup id="popup1" class="demo-popup" auto-dismiss="none" modality="modal" position.my.horizontal="center"
    position.my.vertical="center" position.at.horizontal="center" position.at.vertical="center" position.of="window" tail="none">
    <div class="demo-popup-body">
        <div class="demo-popup-content oj-sm-padding-2x">
            <oj-progress-circle id="progressCircle" value="-1"></oj-progress-circle>
        </div>
    </div>
</oj-popup>
    
<oj-dialog id="popup2">
    <div slot="header" style="display: contents;">
        <p id="dialogTitleId" class="oj-dialog-title">Successfully Updated</p>
        <oj-button id="btnCancel" class="oj-button-sm" display="icons" on-oj-action="[[messageClose]]">
            <span slot="startIcon" class="oj-ux-ico-close"></span>
            Cancel
        </oj-button>
    </div>
    <div slot="body">
        <div class="demo-popup-content oj-sm-padding-2x oj-flex oj-sm-flex-direction-column oj-sm-justify-content-center">
            <p style="font-weight: 500;text-align: left">Staff updated successfully</p>
        </div>
    </div>
</oj-dialog>

<oj-dialog id="popup3">
    <div slot="header" style="display: contents;">
        <p id="dialogTitleId" class="oj-dialog-title">Successfully Updated</p>
        <oj-button id="btnCancel" class="oj-button-sm" display="icons" on-oj-action="[[messageClose]]">
            <span slot="startIcon" class="oj-ux-ico-close"></span>
            Cancel
        </oj-button>
    </div>
    <div slot="body">
        <div class="demo-popup-content oj-sm-padding-2x oj-flex oj-sm-flex-direction-column oj-sm-justify-content-center">
            <p style="font-weight: 500;text-align: left">Document Updated successfully</p>
        </div>
    </div>
</oj-dialog>

<oj-dialog id="popupMail">
    <div slot="header" style="display: contents;">
        <p id="dialogTitleId" class="oj-dialog-title">Successfully Sent</p>
        <oj-button id="btnCancel" class="oj-button-sm" display="icons" on-oj-action="[[messageClose]]">
            <span slot="startIcon" class="oj-ux-ico-close"></span>
            Cancel
        </oj-button>
    </div>
    <div slot="body">
        <div class="demo-popup-content oj-sm-padding-2x oj-flex oj-sm-flex-direction-column oj-sm-justify-content-center">
            <p style="font-weight: 500;text-align: left">Staff Credentials sent via mail successfully</p>
        </div>
    </div>
</oj-dialog>
<oj-dialog id="popupPassword">
    <div slot="header" style="display: contents;">
        <p id="dialogTitleId" class="oj-dialog-title">Successfully Updated</p>
        <oj-button id="btnCancel" class="oj-button-sm" display="icons" on-oj-action="[[messageClose]]">
            <span slot="startIcon" class="oj-ux-ico-close"></span>
            Cancel
        </oj-button>
    </div>
    <div slot="body">
        <div class="demo-popup-content oj-sm-padding-2x oj-flex oj-sm-flex-direction-column oj-sm-justify-content-center">
            <p style="font-weight: 500;text-align: left">Password Updated Successfully</p>
        </div>
    </div>
</oj-dialog>

<oj-dialog id="successView">
    <div slot="header" style="display: contents;">
        <p id="dialogTitleId" class="oj-dialog-title">Document Delete</p>
        <oj-button id="btnCancel" class="oj-button-sm" display="icons" on-oj-action="[[messageClose]]">
            <span slot="startIcon" class="oj-ux-ico-close"></span>
            Cancel
        </oj-button>
    </div>
    <div slot="body">
        <div class="demo-popup-content oj-sm-padding-2x oj-flex oj-sm-flex-direction-column oj-sm-justify-content-center">
            <p style="font-weight: 500;text-align: left">Document deleted successfully</p>
        </div>
    </div>
</oj-dialog>

<oj-dialog id="successView2">
    <div slot="header" style="display: contents;">
        <p id="dialogTitleId" class="oj-dialog-title">Details Updated</p>
        <oj-button id="btnCancel" class="oj-button-sm" display="icons" on-oj-action="[[messageClose]]">
            <span slot="startIcon" class="oj-ux-ico-close"></span>
            Cancel
        </oj-button>
    </div>
    <div slot="body">
        <div class="demo-popup-content oj-sm-padding-2x oj-flex oj-sm-flex-direction-column oj-sm-justify-content-center">
            <p style="font-weight: 500;text-align: left">Details updated successfully</p>
        </div>
    </div>
</oj-dialog>

<div class="centered-container" id="loaderView">
    <div class="loader"></div>
</div> 